.question-list {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 900px;
}

.Question {
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: white;
}

.btn-text-right{
    text-align: right !important;
}

.Answer {
    width: 850px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.Answer.Option {
    display: initial;
    margin-left: 0px;
}

.Answer.Option:hover Button.ButtonAnswer {
    display: block;
}

.Textarea {
    float: left;
    resize: vertical;
    min-height: 40px;
}

.Textarea.Question{
    width: 600px;
    padding: 5px 5px;
    margin: 15px 15px;
    margin-bottom: 35px;
    border:none;
    border-radius: 0px;
    border-bottom: 2px solid black;
    height: 75px;
}

.Textarea.Answers {
    width: 480px;
    padding: 3px 10px;
    margin: 5px 5px;
    border:none;
    border-radius: 0px;
    border-bottom: 2px solid grey;
    height: 35px;
    min-height: 35px;
    float: left;
}

.question-headline {
    color: grey !important;
    text-decoration: none !important;
}
.options {
  text-decoration: none !important;
  color: grey;
}
.options:hover {
    color: darkgrey;
}

.show {
    display: block;
}
.input {
    display: none;
}

.Json {
    display:none;
}

