.column {
    float: left;
}
.column.left {
    width: 20%;
}

.column.right {
    width: 80%
}


.Question.YN {
    margin-left: 100px;
    margin-right: 100px;

}

.Button_Delete {
    background-color: #f44336;
    float: right;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px 15px;
}