.question-list {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 900px;
}

.Question {
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: white;
}

.btn-text-right{
    text-align: right !important;
}

.Answer {
    width: 850px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.Answer.Option {
    display: initial;
    margin-left: 0px;
}

.Answer.Option:hover Button.ButtonAnswer {
    display: block;
}

.Textarea {
    float: left;
    resize: vertical;
    min-height: 40px;
}

.Textarea.Question{
    width: 600px;
    padding: 5px 5px;
    margin: 15px 15px;
    margin-bottom: 35px;
    border:none;
    border-radius: 0px;
    border-bottom: 2px solid black;
    height: 75px;
}

.Textarea.Answers {
    width: 480px;
    padding: 3px 10px;
    margin: 5px 5px;
    border:none;
    border-radius: 0px;
    border-bottom: 2px solid grey;
    height: 35px;
    min-height: 35px;
    float: left;
}

.Title.dropdown {
    position: relative;
    display: inline-block;
    color: gray;
    margin-left: 9px;
    margin-top: 0px;
    width: 300px;
}

.Button {
    background-color: rgb(0,37,87);
    float: right;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px 15px;
    margin-right: 8px ;
    margin-top: 8px;
}

.Button:hover{
    opacity: 0.8;
}

.Button.NewAnswer {
    float: left;
    margin-left: 43px;
    margin-bottom: 15px;

}

.Button.NewQuestion {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.Button.ButtonAnswer {
    display: none;
    float: left;
    margin-left: 10px;
    color: rgb(0,37,87);
    background-color: transparent;
    border: none;
    padding: 0;
    padding-top: 5px;
    font-size: 25px;

}

.Buttondropdown {
    color: gray;
    border:none;
    background-color: transparent;
    text-align: left;
    padding-top: 11px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 5px;
    padding-right: 5px;

}

.dropdown-content{
    display:none;
    position: absolute;
    z-index: 1;
    overflow: auto;
}

.question-headline {
    color: grey !important;
    text-decoration: none !important;
}

.BtnDropDown {
    display: block;
    color: grey;
    width: 150px;
    border:none;
    background-color: #ebebeb;
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.dropdown-content button:hover {
    background-color: lightblue;
}

.show {
    display: block;
}
.input {
    display: none;
}

.Json {
    display:none;
}

