body {
  --tu_blue: #002557;
  --tu_blue_highlight: #274275;
}

.page-footer {
  background-color: var(--tu_blue);
}

.navbar {
  background-color: var(--tu_blue);
  z-index: 9999;
  border: 0;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.navbar-brand {
  padding: 0;
}

.nav-bar-icon {
  height: 50px;
  width: 50px;
  padding: 0.1rem;
  border-width: thin;
  border-style: solid;
  border-color: white;
}

.nav-bar-icon:hover {
  filter: brightness(1000%) grayscale(100%);
  transition: 1s;
}

.nav-item {
  padding-left: 2rem;
}

.link_to_page {
  font-weight: 500;
  color: white;
}

.link_to_page:hover {
  color:#98b1e3;
  transition: 0.5s;
}

.fancy_text {
  font-size: xx-large;
  letter-spacing: 0.4rem;
  line-height: 3rem;
  text-decoration: left;
}

.banner {
  background: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);
  background-size: 300px 300px;
}

.about_text {
  background-color: rgba(100, 100, 100, 0.9);
}