body {
  --tu_blue: #002557;
  --tu_blue_highlight: #274275;
}

.btn-primary {
  background-color: var(--tu_blue);
}
.btn-primary:hover {
  background-color: var(--tu_blue_highlight);
}

.page-footer {
  background-color: var(--tu_blue);
}

.navbar {
  background-color: var(--tu_blue);
  z-index: 9999;
  border: 0;
  margin-bottom: 1rem;
  padding: 0.8rem;
  box-shadow: 0px 1px rgba(100, 100, 100, 0.9);
}

.navbar-brand {
  padding: 0;
  border-width: thin;
  border-style: solid;
  border-color: white;
}
.navbar-brand:hover > .logo_qr {
  filter: brightness(1000%) grayscale(100%);
  transition: 0.8s;
}
.navbar-brand:hover > .logo_text {
  filter: opacity(0%);
  transition: 0.8s;
}
.logo {
  padding: 0.1rem;
  max-height: 50px;
  max-width: 50px;
}
.logo_text {
  position: absolute;
  top: 14px;
  left: 13px;
}

.nav-item {
  padding: 0rem 1rem;
}

.link_to_page {
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: 0.2rem;
  color: white;
}
.link_to_page:hover {
  color: grey;
  transition: 0.5s;
}

.settings_icon {
  color: white;
}
.settings_icon:hover {
  color: grey;
  transition: 0.5s;
}

.fancy_text {
  font-size: xx-large;
  letter-spacing: 0.4rem;
  line-height: 3rem;
  text-decoration: left;
}

.banner {
  background: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);
  background-size: 300px 300px;
}

.about_text {
  background-color: rgba(100, 100, 100, 0.9);
}