<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />	
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />		
    <title th:text="#{title.adminPanel}">TITLE</title>
</head>
<body class="bg-light">
    <div th:include="navbar"></div>

    <div class="row text-center">
        <div class="col-lg-12">

            <!--Headline-->
            <div class="col-12 text-center mt-4">
                <h2 class="font-weight-bold" th:text="#{admin.headline}">ADMIN PANEL</h2>
                <h5 class="font-weight-light" th:text="#{admin.description}">DEFAULT SURVEYS CAN BE EDITED HERE.</h5>
            </div>

            <div th:with="type_list = ${ {'LECTURE', 'TUTORIAL', 'SEMINAR' ,'PRACTICAL'} }">
                <a type="button" class="btn btn-tu m-2" th:each="type: ${type_list}" th:href="@{/admin/updateDefaultSurvey?type=__${type}__}" th:text="#{admin.survey__${type}__}">CHANGE DEFAULT SURVEY</a>
            </div>

        </div>
    </div>

    <div th:replace="footer"></div>
</body>
</html>