<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle_checkbox.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/slim_table.css}" />
    <title th:text="#{title.new}">TITLE</title>
</head>
<body></body>

    <div th:include="navbar"></div>

    <div class="main container">

        <div class="row justify-content-md-center">
            <div class="col-lg-12" th:with="type_list = ${ {'lecture', 'tutorial', 'seminar' ,'practical'} }">

                <h2 class="font-weight-bold text-center mb-4" th:text="#{new.headline}">NEW COURSE</h2>

                <form id="form" method="post" class="border border-dark form_color rounded" th:object="${form}" th:action="@{/course/new}">
                    <!--Checkboxes-->
                    <div class="form-row justify-content-md-center p-4">
                        <div th:each="type: ${type_list}" class="col-md-auto ml-2 mr-2">
                            <label class="switch m-0 align-middle">
                                <input type="checkbox" th:id="|${type}Check|" th:onclick="set_hidden_data([[${type}]])">
                                <span class="slider round"></span>
                            </label>
                            <p class="d-inline m-0 switch-label" th:text="#{new.+${type}}">LECTURE</p>
                            <input type="text" th:id="|${type}Exists|" th:name="|${type}Exists|" value="false" style="display: none;">
                        </div>
                    </div>

                    <div class="dropdown-divider border-dark m-0"></div>

                    <!--Description-->
                    <div class="col-12 bg-light p-0">
                        <table class="table table-bordered m-0">
                            <tbody th:with="list = ${ {'groups', 'instances'} }">
                                <tr th:each="x: ${list}" class="m-2">
                                    <th scope="row" th:text="#{new.+${x}}" class="p-2 font-weight-bold text-right align-middle">NAME</th>
                                    <td th:text="#{new.+${x}+.description}" class="p-2">DESCRIPTION</td>
                                    <td th:text="#{new.+${x}+.example}" class="p-2">EXAMPLE</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="dropdown-divider border-dark m-0"></div>

                    <!--Inputs-->
                    <div class="text-center p-4 bg-light">
                        <!--Permanent-->
                        <div class="form-row align-items-baseline">
                            <div class="col-md-4">
                                <label for="courseName" th:text="#{new.courseName}">COURSE NAME</label>
                                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="..." required>
                            </div>
                            <div class="col-md-4">
                                <label for="courseFaculty" th:text="#{new.courseFaculty}">COURSE FACULTY</label>
                                <select id="faculty_select" class="custom-select form-control" th:field="*{faculty}" th:with="faculties = ${T(qova.enums.CourseFaculty).values()}">
                                    <option class="dropdown-item" th:id="${faculty}" th:each="faculty : ${#lists.sort(faculties)}" th:text="#{'course.faculty.' + ${faculty}}" th:value="${faculty}">FACULTY</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="semesterOfStudents" th:text="#{course.semesterOfStudents}">SEMESTER OF STUDENTS</label>
                                <input type="number" class="form-control" id="semesterOfStudents" name="semesterOfStudents" placeholder="1" min="1" max="20" required>
                                <div class="invalid-feedback">
                                    Are you a time traveler?
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="courseInstanceString" th:text="#{course.courseDate}">COURSE SEMESTER</label>
                                <select class="custom-select form-control" th:field="*{semesterString}">
                                    <option class="dropdown-item" th:each="year : ${semesterDates}" th:text="${year}" th:value="${year}">YEAR</option>
                                </select>
                            </div>
                        </div>
                        <!--Collapsables-->
                        <div class="form-row mt-3" id="input_table" style="display: none;">
                            <div class="col w-100"></div>
                            <div class="col-md-auto">
                                <table class="table m-0" style="margin-right: -0.5rem;">
                                    <thead>
                                        <tr class="slim-line">
                                            <th class="border-0 col-md-2" scope="col"></th>
                                            <th class="border-0 col-md-2" scope="col" th:text="#{new.groups}">GROUPS</th>
                                            <th class="border-0 col-md-2" scope="col" th:text="#{new.instances}">INSTANCES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="type: ${type_list}" class="slim-line" th:id="|${type}Line|" style="display: none">
                                            <td th:text="#{new.+${type}}">COURSE</td>
                                            <td th:switch="${type}">
                                                <input th:case="lecture" type="number" class="form-control" id="groupAmountLecture" name="groupAmountLecture" placeholder="1" value="1" readonly>
                                                <input th:case="*" type="number" class="form-control" th:id="|groupAmount${#strings.capitalize(type)}|" th:name="|groupAmount${#strings.capitalize(type)}|" placeholder="1" value="1" min="1">
                                            </td>
                                            <td><input type="number" class="form-control" th:id="|instanceAmount${#strings.capitalize(type)}|" th:name="|instanceAmount${#strings.capitalize(type)}|" placeholder="1" value="1" min="1"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-divider border-dark m-0"></div>

                    <!--Confirm-->
                    <div class="form-row p-4">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-tu btn-block" th:text="#{Submit}">SUBMIT</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    
    <div th:replace="footer"></div>

</body>
<script>
    $(document).ready(function() {
        const select_element = document.getElementById("faculty_select");
        const all_options = select_element.children;
        
        //sorting by innerHTML
        var sorted_option = [];
        for (let index = 0; index < all_options.length; ++index) {
            const option = all_options[index];
            sorted_option.push([option.id, option.innerHTML]);
        }
        sorted_option.sort(function(a, b) { 
            return a[1] > b[1] ? 1 : -1;
        });

        //resorting the options in the HTML
        for (let index = 0; index < all_options.length; ++index) {
            const new_child = select_element.querySelector("#" + sorted_option[index][0]);
            if (index === 0) {
                new_child.setAttribute("selected", "selected");
            }
            select_element.removeChild(new_child);
            select_element.appendChild(new_child);
        }
    });

    function anything_going_on() {
        var success = 0;
        const all_types = ["lecture", "tutorial", "seminar", "practical"];
        for (let index = 0; index < all_types.length; ++index) {
            if (document.getElementById(all_types[index] + "Exists").checked == true) {
                document.getElementById("input_table").style.display = "";
                success = 1;
            }
        }
        if (success == 0) {
            document.getElementById("input_table").style.display = "none";
        }
    }

    function set_hidden_data(type) {
        const og_input = document.getElementById(type + "Check");
        const hidden_input = document.getElementById(type + "Exists");

        const Utype = type.charAt(0).toUpperCase() + type.slice(1);
        const table_line = document.getElementById(type + "Line");
        const hidden_group = document.getElementById("groupAmount"+Utype);
        const hidden_instance = document.getElementById("instanceAmount"+Utype);
        if (og_input.checked === false) {
            table_line.style.display = "none";
            hidden_input.value = "false";
            hidden_group.setAttribute("value", "1"); hidden_group.setAttribute("required", "");
            hidden_instance.setAttribute("value", "1"); hidden_instance.setAttribute("required", "");
        }
        else {
            table_line.style.display = "";
            hidden_input.value = "true";
            hidden_group.removeAttribute("value"); hidden_group.setAttribute("required", "required");
            hidden_instance.removeAttribute("value"); hidden_instance.setAttribute("required", "required");
        }
        const input_table = document.getElementById("input_table");
        const inputs = input_table.getElementsByTagName("tbody")[0].getElementsByClassName("slim-line");
        var kill = true;
        for (let i = 0; i < inputs.length; ++i) {
            if (inputs[i].style.display == "") {
                kill = false;
            }
        }
        if (kill == true) {
            input_table.style.display = "none"
        }
        else {
            input_table.style.display = ""
        }
        og_input.disabled = true;
        setTimeout(function () { og_input.disabled = false; }, 500)
    };

</script>
</html>