<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle_checkbox.css}" />
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/5b9febade6.js" crossorigin="anonymous"></script>

    <title th:text="#{home.title}">TITLE</title>
</head>
<body class="bg-light">

    <div th:include="navbar"></div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-12">

                <h2 class="font-weight-bold text-center mb-4 mt-4" th:text="${course.name}">COURSE NAME</h2>

                <div class="container bg-light border border-dark rounded p-0">
                    <!--Delete Course-->
                    <form class="btn-delete" th:action="@{/course/delete}" method="post">
                        <input type="hidden" name="id" th:value="${course.id}" />
                        <button type="submit" class="btn red-link btn-link" data-toggle="tooltip" data-placement="top" title="DELETE COURSE" th:title="#{detail.deleteCourse}"><i class="fas fa-trash-alt"></i></button>
                    </form>
                    <div class="row justify-content-md-center p-4">

                        <!--Course Details-->
                        <div class="col-md-6">

                            <!--Headline-->
                            <div class="row">
                                <h5 class="font-weight-light text-left" th:text="#{course.details}">COURSE DETAILS</h5>
                                <button type="button" id="startEdit" class="btn edit_details btn-link p-0 ml-4 align-middle" onclick="edit_mode()" data-toggle="tooltip" data-placement="right" th:title="#{detail.editCourse}"><i class="far fa-edit"></i></button>
                                <button type="button" id="finishEdit" class="btn edit_details btn-link p-0 ml-4 align-middle" style="display: none;" data-toggle="tooltip" data-placement="right" th:title="#{detail.finishEdit}"><i class="fas fa-check"></i></button>
                                <!--th:href="@{/course/edit?id={id}(id=${course.id})}" href="#"-->
                            </div>

                            <!--1st Table-->
                            <div class="row">
                                <table class="table mb-4">
                                    <tbody>
                                        <!--Faculty-->
                                        <tr>
                                            <th scope="row" th:text="#{new.courseFaculty}">FACULTY NAME</th>
                                            <td id="faculty_original"><span th:id="'og: ' + ${course.faculty}" th:text="#{'course.faculty.' + ${course.faculty}}">FACULTY</span></td>
                                            <td id="faculty_dropdown" style="display: none">
                                                <select id="faculty_select" class="custom-select form-control" th:with="faculties = ${T(qova.course.CourseFaculty).values()}">
                                                    <option class="dropdown-item" th:id="${faculty}" th:each="faculty : ${#lists.sort(faculties)}" th:text="#{'course.faculty.' + ${faculty}}" th:value="${faculty}">FACULTY</option>
                                                </select>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <!--Semester Period-->
                                        <tr>
                                            <th scope="row" th:text="#{course.courseInstance}">YEAR</th>
                                            <td class="editable" th:text="${course.semesterUI}">XXXX</td>
                                            <td></td>
                                        </tr>
                                        <!--Semester of Students-->
                                        <tr>
                                            <th scope="row" th:text="#{course.semesterOfStudents}">SEMESTER</th>
                                            <td id="semester_original"><span th:id="${course.semesterOfStudents}" th:text="${course.semesterOfStudents}">IDK - XXXX</span></td>
                                            <td id="semester_dropdown" style="display: none">
                                                <select class="custom-select form-control">
                                                    <option class="dropdown-item" th:id="${course.semesterOfStudents}" th:each="year : ${semesterDates}" th:text="${year}" th:value="${year}">YEAR</option>
                                                </select>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--2nd Table-->
                            <div class="row">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-0 col-md-2" scope="col" th:text="#{detail.classType}">TYPE</th>
                                            <th class="border-0 text-center col-md-2" scope="col" data-toggle="tooltip" data-placement="top" title="AMOUNT" th:title="#{detail.classAmount}">#</th>
                                            <th class="border-0 text-center col-md-2" scope="col" th:text="#{detail.classSurvey}">SURVEY</th>
                                            <th class="border-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--Lecture-->
                                        <tr>
                                            <td scope="row" th:text="#{new.lecture}">LECTURE</td>
                                            <div th:switch="${course.lectureExists}">
                                                <div th:case="TRUE">
                                                    <td class="editable text-center">1</td>
                                                    <div th:switch="${course.lectureSurvey}">
                                                        <div th:case="'-'">
                                                            <td class="editable text-center" id="bool" th:text="#{No}">!EXISTS</td>
                                                            <td><a type="button" class="btn btn-link p-0 align-middle" th:href="${'/course/surveyeditor?type=LECTURE&id='  + {course.id}}" href="#" data-toggle="tooltip" data-placement="right" th:title="#{detail.addSurvey}"><i class="fas fa-plus"></i></a></td>
                                                        </div>
                                                        <div th:case="*">
                                                            <td class="editable text-center" id="bool" th:text="#{Yes}">EXISTS</td>
                                                            <td><a type="button" class="btn btn-link p-0 align-middle" th:href="${'/course/surveyeditor?type=LECTURE&id='  + {course.id}}" href="#" data-toggle="tooltip" data-placement="right" th:title="#{detail.editSurvey}"><i class="far fa-edit"></i></a></td>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:case="FALSE">
                                                    <td class="editable text-center">0</td>
                                                    <td class="editable text-center">-</td>
                                                    <td></td>
                                                </div>
                                            </div>
                                        </tr>
                                        <!--Tutorial-->
                                        <tr>
                                            <td scope="row" th:text="#{new.practice}">TUTORIAL</td>
                                            <td class="editable text-center" th:text="${course.classTotalTutorial}">COUNT</td>
                                            <div th:switch="${course.tutorialExists}">
                                                <div th:case="TRUE">
                                                    <div th:switch="${course.tutorialSurvey}">
                                                        <div th:case="'-'">
                                                            <td class="editable text-center" id="bool" th:text="#{No}">!EXISTS</td>
                                                            <td><a type="button" class="btn btn-link p-0 align-middle" th:href="${'/course/surveyeditor?type=LECTURE&id='  + {course.id}}" href="#" data-toggle="tooltip" data-placement="right" th:title="#{detail.addSurvey}"><i class="fas fa-plus"></i></a></td>
                                                        </div>
                                                        <div th:case="*">
                                                            <td class="editable text-center" id="bool" th:text="#{Yes}">EXISTS</td>
                                                            <td><a type="button" class="btn btn-link p-0 align-middle" th:href="${'/course/surveyeditor?type=TUTORIAL&id='  + {course.id}}" href="#" data-toggle="tooltip" data-placement="right" th:title="#{detail.editSurvey}"><i class="far fa-edit"></i></a></td>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:case="FALSE">
                                                    <td class="editable text-center">-</td>
                                                    <td></td>
                                                </div>
                                            </div>
                                        </tr>
                                        <!--Seminar-->
                                        <tr>
                                            <td scope="row" th:text="#{new.seminar}">SEMINAR</td>
                                            <td class="editable text-center" th:text="${course.classTotalSeminar}">COUNT</td>
                                            <div th:switch="${course.seminarExists}">
                                                <div th:case="TRUE">
                                                    <div th:switch="${course.seminarSurvey}">
                                                        <div th:case="'-'">
                                                            <td class="editable text-center" id="bool" th:text="#{No}">!EXISTS</td>
                                                            <td><a type="button" class="btn btn-link p-0 align-middle" th:href="${'/course/surveyeditor?type=LECTURE&id='  + {course.id}}" href="#" data-toggle="tooltip" data-placement="right" th:title="#{detail.addSurvey}"><i class="fas fa-plus"></i></a></td>
                                                        </div>
                                                        <div th:case="*">
                                                            <td class="editable text-center" id="bool" th:text="#{Yes}">EXISTS</td>
                                                            <td><a type="button" class="btn btn-link p-0 align-middle" th:href="${'/course/surveyeditor?type=SEMINAR&id='  + {course.id}}" href="#" data-toggle="tooltip" data-placement="right" th:title="#{detail.editSurvey}"><i class="far fa-edit"></i></a></td>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:case="FALSE">
                                                    <td class="editable text-center">-</td>
                                                    <td></td>
                                                </div>
                                            </div>                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="col-md-1"></div>

                        <!--QR Codes-->
                        <div class="col-md-auto">
                            <h5 class="font-weight-light text-center" th:text="#{detail.QR}">QR CODES</h5>
                            <div class="row justify-content-md-center">
                                <div class="container carousel-border border border-secondary p-1">
                                    <div id="carouselExampleIndicators" class="carousel slide" interval="false">
                                        <ol class="carousel-indicators">
                                            <li th:if="!${course.lectureSurvey.equals('-')}" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                            <li th:if="!${course.tutorialSurvey.equals('-')}" data-target="#carouselExampleIndicators" data-slide-to="1" th:classappend="${course.lectureSurvey.equals('-')} ? active : userclass"></li>
                                            <li th:if="!${course.seminarSurvey.equals('-')}" data-target="#carouselExampleIndicators" data-slide-to="2" th:classappend="${course.lectureSurvey.equals('-') and course.tutorialSurvey.equals('-')} ? active : userclass"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div th:if="!${course.lectureSurvey.equals('-')}" class="carousel-item active">
                                                <img class="d-block w-100 mb-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/QR_code_Wi-Fi.png/220px-QR_code_Wi-Fi.png" alt="Lecture slide">
                                                <div class="carousel-caption text-dark d-block mb-1">
                                                    <h5>Lecture</h5>
                                                </div>
                                            </div>
                                            <div th:if="!${course.tutorialSurvey.equals('-')}" th:classappend="${course.lectureSurvey.equals('-')} ? active : userclass" class="carousel-item">
                                                <img class="d-block w-100 mb-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/QR_code_Wi-Fi.png/220px-QR_code_Wi-Fi.png" alt="Tutorial slide">
                                                <div class="carousel-caption text-dark d-block mb-1">
                                                    <h5>Tutorial</h5>
                                                </div>
                                            </div>
                                            <div th:if="!${course.seminarSurvey.equals('-')}" th:classappend="${course.lectureSurvey.equals('-') and course.tutorialSurvey.equals('-')} ? active : userclass" class="carousel-item">
                                                <img class="d-block w-100 mb-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/QR_code_Wi-Fi.png/220px-QR_code_Wi-Fi.png" alt="Seminar slide">
                                                <div class="carousel-caption text-dark d-block mb-1">
                                                    <h5>Seminar</h5>
                                                </div>
                                            </div>
                                            <div th:if="${course.lectureSurvey.equals('-') and course.tutorialSurvey.equals('-') and course.seminarSurvey.equals('-')}" class="carousel-item active">
                                                <img class="d-block w-100 mb-5 bg-dark" src="..." alt="" style="width: 300px; height: 300px;">
                                                <div class="carousel-caption text-dark d-block mb-0">
                                                    <h5>No Surveys yet</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        <!--<img th:src="'data:image/jpeg;base64,' + ${LectureQRCode}" class="img-fluid" alt="lecture_image"/>-->
                                        <!--<img th:src="'data:image/jpeg;base64,' + ${TutorialQRCode}" class="img-fluid" alt="tutorial_image"/>-->
                                        <!--<img th:src="'data:image/jpeg;base64,' + ${SeminarQRCode}" class="img-fluid" alt="seminar_image"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center mt-3">
                                <a type="button" class="btn btn-primary" th:text="#{detail.download}" th:target="_blank" th:href="${'/qrcode?type=LECTURE&id='  + {course.id}}" href="#">DOWNLOAD</a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div th:include="footer"></div>
</body>
<script>
    $( document ).ready(function() {
        $('[data-toggle="tooltip"]').tooltip(({trigger : 'hover'}));
    });

    function replace_with_input(replace_me) {
        if(replace_me.id === "bool") {

            const replacer = document.createElement("LABEL");
            replacer.className = "switch mt-2";

            const input_box = document.createElement("INPUT");
            input_box.className = "form-control";
            input_box.type = "checkbox";
            if(replace_me.innerHTML === "Yes") {
                input_box.checked = true;
            }
            
            const input_box_slider = document.createElement("SPAN");
            input_box_slider.className = "slider round";

            replacer.appendChild(input_box);
            replacer.appendChild(input_box_slider);
            replace_me.innerHTML = "";
            replace_me.appendChild(replacer);
        }
        else {
            const replacer = document.createElement("INPUT");
            replacer.className = "form-control";
            replacer.type = "text";
            replacer.setAttribute("placeholder", replace_me.innerHTML);
                
            replace_me.innerHTML = "";
            replace_me.appendChild(replacer);
        }
    }

    function sort_options(select_element) {
        const all_options = select_element.children;
        
        //sorting by innerHTML
        var sorted_option = [];
        for (let index = 0; index < all_options.length; ++index) {
            const option = all_options[index];
            sorted_option.push([option.id, option.innerHTML]);
        }
        sorted_option.sort(function(a, b) { 
            return a[1] > b[1] ? 1 : -1;
        });

        //resorting the options in the HTML
        for (let index = 0; index < all_options.length; ++index) {
            const new_child = select_element.querySelector("#" + sorted_option[index][0]);
            select_element.removeChild(new_child);
            select_element.appendChild(new_child);
        }
    }
    
    function edit_mode() {
        //turns finish edit button visable & disables edit button
        document.getElementById("finishEdit").style.display = "block";
        document.getElementById("startEdit").disabled = true;

        //replaces simple values with input fields
        const editables = document.getElementsByClassName("editable");
        for (let index = 0; index < editables.length; ++index) {
            replace_with_input(editables[index]);
        }

        //faculty replacement
        const faculty_original = document.getElementById("faculty_original");
        sort_options(document.getElementById("faculty_select"));
        faculty_original.style.display = "none";
        document.getElementById("faculty_dropdown").style.display = "block";
        //select new default value
        const key = faculty_original.querySelector("span").id;
        document.getElementById(key.slice(4, key.length)).setAttribute("selected", "selected");

        //semester replacement
        const semester_original = document.getElementById("semester_original");
        semester_original.style.display = "none";
        document.getElementById("semester_dropdown").style.display = "block";
    }
</script>
</html>