<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle_checkbox.css}" />
    <title th:text="#{title.details}">TITLE</title>
</head>

<body class="bg-light">
    <div th:include="navbar"></div>
    <div class="col-lg-12 mb-4">

        <div class="mb-4 mt-4">
            <h2 class="font-weight-bold text-center mb-4 mt-4 hide_me" th:text="${course.name}">COURSE NAME</h2>
            <input id="name-input" type="text" class="input-group headline-edit show_me" style="display: none;"
                th:placeholder="${course.name}" th:value="${course.name}"></input>
        </div>

        <div th:include="finalizeModal"></div>

        <div class="container bg-light border border-dark rounded p-0">

            <!--Option Buttons-->
            <div class="options-wrapper">
                <div class="btn-delete">
                    <!--Copy Course-->
                    <button type="submit" class="btn btn-link" data-toggle="modal" data-target="#copyModal">
                        <i class="far fa-clone" data-toggle="tooltip" data-placement="top" title="COPY COURSE"
                            th:title="#{detail.copyCourse}"></i>
                    </button>
                    <div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content text-center">
                                <!--Duplicate Form-->
                                <form th:action="@{/course/duplicate?id=__${course.id}__}" th:object="${duplicateForm}"
                                    method="post">
                                    <div class="modal-body">
                                        <p th:text="#{detail.copyModalText}">PLEASE COPY ME!</p>
                                        <select id="newYear" class="custom-select form-control"
                                            th:field="*{semesterString}">
                                            <option class="dropdown-item" th:each="year : ${semesterDates}"
                                                th:text="${year}" th:value="${year}">YEAR</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <div class="w-100"></div>
                                        <button type="submit" class="btn btn-primary">Finish</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            th:text="#{cancel}">Cancel</button>
                                        <div class="w-100"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Delete Course -->
                    <button type="submit" class="btn red-link btn-link" data-toggle="modal" data-target="#deleteModal">
                        <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="DELETE COURSE"
                            th:title="#{detail.deleteCourse}"></i>
                    </button>
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content text-center">
                                <div class="modal-body">
                                    <p class="m-0" th:text="#{detail.deleteModalText}">PLEASE DELETE ME!</p>
                                </div>
                                <div class="modal-footer text-center">
                                    <div class="w-100"></div>
                                    <a th:href="@{/course/delete?id=__${course.id}__}" method="post"
                                        class="btn btn-primary">Yes</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        th:text="#{cancel}">Cancel</button>
                                    <div class="w-100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Left Side-->
            <div class="row justify-content-md-center p-4"
                th:with="type_list = ${ {'lecture', 'tutorial', 'seminar' ,'practical'} }">
                <!--Course Details-->
                <div class="col-6">
                    <form id="form" method="post" th:action="@{/course/edit?id=__${course.id}__}" th:object="${form}">

                        <!--Headline & Buttons-->
                        <div class="row">
                            <h5 class="font-weight-light text-left" th:text="#{course.details}">COURSE DETAILS</h5>
                            <button th:if="!${course.finalised}" type="button" id="startEdit"
                                class="btn edit_details btn-link p-0 ml-4 align-middle" onclick="edit_mode()"
                                data-toggle="tooltip" data-placement="right" th:title="#{detail.editCourse}"><i
                                    class="far fa-edit"></i></button>
                            <button type="button" onClick="window.location.reload();"
                                class="btn edit_details btn-link p-0 ml-4 align-middle show_me" style="display: none;"
                                data-toggle="tooltip" data-placement="right" th:title="#{detail.cancelEdit}"><i
                                    class="fas fa-times"></i></button>
                            <button type="submit" class="btn edit_details btn-link p-0 ml-4 align-middle show_me"
                                style="display: none;" data-toggle="tooltip" data-placement="right"
                                th:title="#{detail.finishEdit}"><i class="fas fa-check"></i></button>
                        </div>

                        <!--Hidden Headline-->
                        <input id="name-input-hidden" type="hidden" th:value="${course.name}" th:name="name"></input>

                        <!--1st Table-->
                        <div class="row form-group">
                            <table class="table mb-4">
                                <tbody>
                                    <!--Faculty-->
                                    <tr>
                                        <th class="col-5" scope="row" th:text="#{new.courseFaculty}">FACULTY NAME</th>
                                        <td class="hide_me" id="faculty_original"><span
                                                th:id="'og: ' + ${course.faculty}"
                                                th:text="#{'course.faculty.' + ${course.faculty}}">FACULTY</span></td>
                                        <td class="show_me" id="faculty_dropdown" style="display: none">
                                            <select id="faculty_select" class="custom-select form-control"
                                                th:with="faculties = ${T(qova.enums.CourseFaculty).values()}"
                                                th:field="*{faculty}">
                                                <option class="dropdown-item" th:id="${faculty}" th:each="faculty : ${#lists.sort(faculties)}" th:text="#{'course.faculty.' + ${faculty}}" th:value="${faculty}">FACULTY</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <!--Semester Period-->
                                    <tr>
                                        <th class="col-5" scope="row" th:text="#{course.courseDate}">YEAR</th>
                                        <td class="hide_me" th:text="${course.semesterString}">XXXX</td>
                                        <td class="show_me" style="display: none">
                                            <select class="custom-select form-control" th:field="*{semesterString}">
                                                <option class="dropdown-item" th:each="year : ${semesterDates}" th:text="${year}" th:value="${year}">YEAR</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <!--Semester of Students-->
                                    <tr>
                                        <th class="col-5" scope="row" th:text="#{course.semesterOfStudents}">SEMESTER</th>
                                        <td class="hide_me"><span th:text="${course.semesterOfStudents}">IDK - XXXX</span></td>
                                        <td class="show_me" style="display: none;">
                                            <input class="form-control" type="number" th:placeholder="${course.semesterOfStudents}" th:value="${course.semesterOfStudents}" name="semesterOfStudents" id="semesterOfStudents">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <!--Status-->
                                    <tr class="hide_me">
                                        <th class="col-5" scope="row" th:text="#{course.status}">SEMESTER</th>
                                        <td th:switch="${course.finalised}">
                                            <a class="status-btn" th:case="false" type="submit" data-toggle="modal" data-target="#finalizeModal">
                                                <span th:text="#{course.status.pending}">WIP</span>
                                            </a>
                                            <span th:case="true"><span class="text-success" th:text="#{course.status.finished}">DONE</span><span> </span><span class="text-success font-weight-light" th:text="#{course.status.finished2}">STUDENTS CAN NOW ANSWERE THE SURVEYS!</span></span>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--2nd Table-->
                        <div class="row form-group">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-0 col-1 show_me" scope="col" style="display: none;"></th>
                                        <th class="border-0 col-1" scope="col" th:text="#{detail.classType}">TYPE</th>
                                        <th class="border-0 text-center col-2" scope="col" th:text="#{detail.instanceAmount}">#Instance</th>
                                        <th class="border-0 col-1 show_me" scope="col" style="display: none;"></th>
                                        <th class="border-0 text-center col-2" scope="col" th:text="#{detail.groupAmount}">#Group</th>
                                        <th class="border-0 text-center col-1 hide_me" scope="col" th:text="#{detail.classSurvey}">SURVEY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="course_type: ${type_list}" th:classappend="!${__'course.get' + ${#strings.capitalize(course_type)} + 'Exists()'__} ? text-light-grey : userclass" th:id="${course_type} + 'Line'">
                                        <!--1st Col-->
                                        <td class="show_me" style="display: none;">
                                            <div class="col-md-auto">
                                                <label class="switch m-0 align-middle" th:switch="${__'course.get' + ${#strings.capitalize(course_type)} + 'Exists()'__}">
                                                    <input th:case="true"  type="checkbox" th:id="${course_type} + 'Check'" th:onclick="set_hidden_data([[${course_type}]])" checked>
                                                    <input th:case="false" type="checkbox" th:id="${course_type} + 'Check'" th:onclick="set_hidden_data([[${course_type}]])">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <input type="text" th:field="*{__${course_type} + 'Exists'__}" style="display: none;">
                                        </td>
                                        <!--2nd Col-->
                                        <td scope="row" th:text="#{'new.' + ${course_type}}">LECTURE</td>
                                        <!--3rd Col-->
                                        <td class="text-center" th:text="${__'course.' + ${course_type} + '.instanceAmount'__}">COUNT</td>
                                        <input type="hidden" th:value="${__'course.' + ${course_type} + '.instanceAmount'__}" th:name="|instanceAmount${#strings.capitalize(course_type)}|"></input>
                                        <td class="show_me text-center" style="display: none;"><a type="button" class="btn btn-link p-0 align-middle instance_btn show_me" style="display: none;" href="#" th:href="${'/course/instanceTitles?id=' + {course.id}}" data-toggle="tooltip" data-placement="right" th:title="#{detail.editInstance}"><i class="far fa-edit"></i></a></td>
                                        <!--4th Col-->
                                        <td class="text-center hide_me" th:text="${__'course.' + ${course_type} + '.groupAmount'__}">COUNT</td>
                                        <td class="show_me" style="display: none;">
                                            <input class="form-control" type="text" th:value="${__'course.' + ${course_type} + '.groupAmount'__}" th:name="|groupAmount${#strings.capitalize(course_type)}|" th:id="|groupAmount${#strings.capitalize(course_type)}|">
                                        </td>
                                        <!--5th Col-->
                                        <div th:switch="${__'course.' + ${course_type} + '.survey'__}">
                                            <div th:case="'[]'">
                                                <td th:switch="${__'course.get' + ${#strings.capitalize(course_type)} + 'Exists()'__}" class="text-center">
                                                    <a  th:if="!${course.finalised}" th:case="TRUE" type="button" class="btn btn-link p-0 align-middle hide_me" th:href="${'/course/surveyeditor?type=' + {#strings.toUpperCase(course_type)} + '&id=' + {course.id}}" href="#" data-toggle="tooltip" data-placement="right" th:title="#{detail.addSurvey}"><i class="fas fa-plus"></i></a>
                                                </td>
                                            </div>
                                            <div th:case="*">
                                                <td th:if="${__'course.get' + ${#strings.capitalize(course_type)} + 'Exists()'__}" class="text-center">
                                                    <a th:if="!${course.finalised}" type="button" class="btn btn-link p-0 align-middle hide_me mr-2" th:href="${'/course/surveyeditor?type=' + {#strings.toUpperCase(course_type)} + '&id=' + {course.id}}" href="#" data-toggle="tooltip" data-placement="left" th:title="#{detail.editSurvey}"><i class="far fa-edit"></i></a>
                                                    <a type="button" class="btn btn-link p-0 align-middle hide_me" th:href="${'/course/previewsurvey?type=' + {#strings.toUpperCase(course_type)} + '&id=' + {course.id}}" href="#" data-toggle="tooltip" data-placement="right" th:title="#{detail.previewSurvey}"><i class="fa fa-eye"></i></a>
                                                </td>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </form>
                </div>

                <div class="col-1"></div>

                <!--QR Codes-->
                <div th:if="${course.finalised}" class="col-auto">
                    <h5 class="font-weight-light text-center" th:text="#{detail.QR}">QR CODES</h5>
                    <div class="row justify-content-md-center">
                        <div class="container carousel-border border border-secondary p-1 position-relative">
                            <div id="carouselExampleIndicators" class="carousel slide" interval="false">

                                <ol class="carousel-indicators">
                                    <li th:each="course_type: ${type_list}" th:if="!${(__'course.' + ${course_type} + '.survey'__).equals('[]')}" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                                </ol>

                                <div class="carousel-inner">

                                    <div th:each="course_type: ${type_list}" th:if="!${(__'course.' + ${course_type} + '.survey'__).equals('[]')}" class="carousel-item">
                                        <img class="d-block w-100 mb-5" th:src="'data:image/jpeg;base64,' + ${__${course_type} + 'QRCode'__}" alt=">.<">
                                        <div class="carousel-caption text-dark d-block mb-1">
                                            <h5 th:text="#{${course_type}}">TEXT</h5>
                                        </div>
                                    </div>

                                    <div th:if="${course.lecture.survey.equals('[]') and course.tutorial.survey.equals('[]') and course.seminar.survey.equals('[]') and course.practical.survey.equals('[]')}" class="carousel-item">
                                        <img class="d-block w-100 mb-5 bg-dark" src="..." alt="" style="width: 300px; height: 300px;">
                                        <div class="carousel-caption text-dark d-block mb-0">
                                            <h5>No Surveys yet</h5>
                                        </div>
                                    </div>

                                </div>

                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <!--Download Button-->
                    <div th:if="!${course.lecture.survey.equals('[]') and course.tutorial.survey.equals('[]') and course.seminar.survey.equals('[]') and course.practical.survey.equals('[]')}" class="container text-center">
                        <p class="m-0 mt-3 font-weight-light" th:text="#{detail.download}"></p>
                        <div class="btn-group" role="group" aria-label="First group">
                            <a th:each="course_type: ${type_list}" th:if="!${(__'course.' + ${course_type} + '.survey'__).equals('[]')}" class="btn btn-outline-primary btn-sm" th:text="#{'new.' + ${course_type}}" th:href="${'/qrcode?type=' + {#strings.toUpperCase(course_type)} + '&id=' + {course.id}}" target="_blank" href="#">TEXT</a>
                        </div>
                        <p class="m-0 mt-3 font-weight-light" th:text="#{detail.download.link}"></p>
                        <div class="btn-group" role="group" aria-label="First group">
                            <a th:each="course_type: ${type_list}" th:if="!${(__'course.' + ${course_type} + '.survey   '__).equals('[]')}" class="btn btn-outline-primary btn-sm" th:text="#{'new.' + ${course_type}}" th:onclick="copy_url([[${course_type}]])" href="#">TEXT</a>
                        </div>
                        <input th:each="course_type: ${type_list}" th:if="!${(__'course.' + ${course_type} + '.survey   '__).equals('[]')}" th:id="|${course_type}Link|" th:value="${__${course_type}+'Link'__}" style="display: none">
                    </div>

                </div>
            </div>
            
        </div>

    </div>
    <div th:replace="footer"></div>
</body>
<script th:inline="javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip(({ trigger: 'hover' }));
        document.getElementsByClassName("carousel-item")[0].className = "carousel-item active";
        try {
            document.getElementsByClassName("carousel-indicators")[0].getElementsByTagName("li")[0].className = "active";
        }
        catch (e) {
            console.log("No QR-Code aviable yet.")
        }
    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
    $('#name-input').keyup(function () {
        $('#name-input-hidden').val($(this).val());
    });

    function sort_options(select_element) {
        const all_options = select_element.children;

        //sorting by innerHTML
        var sorted_option = [];
        for (let index = 0; index < all_options.length; ++index) {
            const option = all_options[index];
            sorted_option.push([option.id, option.innerHTML]);
        }
        sorted_option.sort(function (a, b) {
            return a[1] > b[1] ? 1 : -1;
        });

        //resorting the options in the HTML
        for (let index = 0; index < all_options.length; ++index) {
            const new_child = select_element.querySelector("#" + sorted_option[index][0]);
            select_element.removeChild(new_child);
            select_element.appendChild(new_child);
        }
    }

    function download_all() {
        const all_downloads = document.getElementsByClassName("download")
        for (let index = 0; index < all_downloads.length; ++index) {
            all_downloads[index].click();
        }
    }

    function set_hidden_data(type) {
        const og_input = document.getElementById(type + "Check");
        const hidden_input = document.getElementById(type + "Exists");
        const table_line = document.getElementById(type + "Line");
        if (og_input.checked === false) {
            table_line.className = "text-light-grey";
            hidden_input.value = "false";
            disable_inputs(table_line, true);
        }
        else {
            table_line.className = "";
            hidden_input.value = "true";
            disable_inputs(table_line, false);
        }
        og_input.disabled = true;
        setTimeout(function () { og_input.disabled = false; }, 500)
    }

    function disable_inputs(f_element, bool) {
        const all_text_inputs = f_element.querySelectorAll('input[type=text]');
        for (let index = 0; index < all_text_inputs.length; ++index) {
            if (all_text_inputs[index].className == "form-control") {
                if (all_text_inputs[index].id == "groupAmountLecture") {
                    all_text_inputs[index].readOnly = true;
                }
                else {
                    all_text_inputs[index].readOnly = bool;
                }
            }
        }
        if (bool == true) {
            f_element.getElementsByClassName("instance_btn")[0].classList.add("disabled-link");
        }
        else {
            f_element.getElementsByClassName("instance_btn")[0].classList.remove("disabled-link");
        }
    }

    const name_input = document.getElementById("name-input")
    name_input.addEventListener("change", function () {
        document.getElementById("hidden-name-input").value = name_input.value;
    });

    function switcheroo() {
        const vis = document.getElementsByClassName("hide_me");
        for (let index = 0; index < vis.length; ++index) {
            vis[index].style.display = "none";
        }
        const invis = document.getElementsByClassName("show_me");
        for (let index = 0; index < invis.length; ++index) {
            invis[index].style.display = "";
        }
        const all_types = ["lecture", "tutorial", "seminar", "practical"];
        for (let index = 0; index < all_types.length; ++index) {
            set_hidden_data(all_types[index]);
            if (document.getElementById(all_types[index] + "Exists").value == "false") {
                disable_inputs(document.getElementById(all_types[index] + "Line"), true);
            }

        }
    }

    function edit_mode() {
        //turns finish edit button visable & disables edit button
        document.getElementById("startEdit").disabled = true;

        //faculty replacement
        sort_options(document.getElementById("faculty_select"));
        const key = document.getElementById("faculty_original").querySelector("span").id;
        document.getElementById(key.slice(4, key.length)).setAttribute("selected", "selected");

        //replaces everything else
        switcheroo();
    }

    function copy_url(type) {
        var copy_text = document.getElementById(type+"Link").value;
        navigator.clipboard.writeText(copy_text);
    }
</script>
</html>