<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title th:text="#{home.title}">TITLE</title>
</head>
<body class="bg-light"></body>

<div th:include="navbar"></div>

<div class = "container">
    <div class="modal" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h4 class="modal-title" th:text="#{course.modal.deletion.title}">DELETION_TITLE</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <p th:text="#{course.modal.deletion.content}"></p>
                </div>
                <div class="modal-footer">
                    <form class="mr-auto col-sm-6" th:action="@{/course/delete}" method="post">
                        <input type="hidden" name="id" th:value="${course.id}" />
                        <input type="submit" class="btn btn-primary btn-block" th:value="#{buttons.confirm}" />
                    </form>
                    <button type="button" class="btn btn-secondary btn-block col-sm-6" th:text="#{buttons.abort}" data-dismiss="modal">ABORT</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="pb-2 mt-4 mb-2">
            <h1 th:text="#{course.details}">TITLE</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <dl class="row">
                        <dt class="col-sm-4" th:text="#{course.name}">NAME</dt>
                        <dd class="col-sm-8" th:text="${course.name}">VALUE</dd>

                        <dt class="col-sm-4" th:text="#{course.classTotalTutorial}">CITY</dt>
                        <dd class="col-sm-8" th:text="${course.classTotalTutorial}">VALUE</dd>

                        <dt class="col-sm-4" th:text="#{course.classTotalSeminar}">CITY</dt>
                        <dd class="col-sm-8" th:text="${course.classTotalSeminar}">VALUE</dd>

                    </dl>
                    <a class="btn btn-primary" th:href="@{/course/edit?id={id}(id=${course.id})}" th:text="#{buttons.edit}">EDIT</a>
                    <a class="btn btn-secondary" th:href="@{/courses}" th:text="#{buttons.back}">BACK</a>
                    <a class="btn btn-primary" th:href="@{/course/surveyeditor?id={id}(id=${course.id})}" th:text="#{buttons.editsurvey}">EDIT</a>
                    <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteModal" th:text="#{buttons.delete}">DELETE</button>
                </div>
                <div class="col-lg-6" style="border-left: 1px solid #eee;">
                    <img th:src="'data:image/jpeg;base64,' + ${image}" class="img-fluid" alt="image" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>