<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
	<title th:text="#{title.error}">TITLE</title>
</head>
<body>
<div th:include="navbar"></div>
<div class="main container-fluid mt-4 mb-4">
    <div class="row justify-content-center">
        
        <!--Headline-->
        <div class="col-12 text-center justify-content-center">
            <h2 class="font-weight-bold huge-headline" th:text="#{error}">ERROR X</h2>
            <h5 class="mb-4" th:text="#{error.description}">DESCRIPTION</h5>
            <div class="row justify-content-center">
                <div class="col-auto text-right fake-tip">
                    <h5 class="mail-content border-0" th:text="|#{error.mail}:|">E-Mail:</h5>
                    <h5 class="mail-content border-0" th:text="|#{error.subject}:|">Subject:</h5>
                    <h5 class="mail-content border-0" th:text="|#{error.content}:|">Content:</h5>
                </div>
                <div class="col-6 col-md-8 col-sm-8 p-0 fake-mail">
                    <h5 class="new-message mb-0" th:text="#{error.new}"></h5>
                    <h5 class="mail-content"><a href="mailto:carl-service@tu-dresden.de">carl-service@tu-dresden.de</a></h5>
                    <h5 class="mail-content">QOVA</h5>
                    <h5 class="mail-content" th:text="#{error.content.text}"></h5>
                </div>
            </div>
            <!--Bug Meme-->
            <div class="d-none d-xl-block">
                <div class="row bug-container">
                    <div class="col-6">
                        <img class="img-fluid bug-image float-right" th:src="@{/resources/images/big-nasty-bug.png}" src="../static/resources/images/big-nasty-bug.png" alt="BUG"/>
                    </div>
                    <div class="col-5 offset-1 text-left d-flex align-items-center">
                        <div class="col-12">
                            <div class="container dialog-window float-left">
                                <h5 class="font-weight-bold">You encountered a big nasty bug. What do you do?</h5>
                                <a class="dialog-option" href="#" th:href="@{/}"><h5>> Kill it with fire.</h5></a>
                                <a class="dialog-option" href="#" th:href="@{/}"><h5>> Smash it with a hammer.</h5></a>
                                <a class="dialog-option" href="#" th:href="@{/}"><h5>> Use some bug spray on it.</h5></a>
                                <a class="dialog-option" href="#" th:href="@{/}"><h5>> Run away like a real grown-up.</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="footer"></footer>
</body>
</html>