<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>		
<!--Finalize Modal-->
<div th:fragment="finalizeModal" class="modal fade" id="finalizeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-left">
            <div class="modal-header">
            <p class="modal-title m-0 font-weight-bold" th:text="#{finalize.headline}">HERE YOU CAN FINALIZE THE SURVEY. STUDENTS CAN ASNWERE THE SURVEY ONCE IT IS FINALIZED.</p>
            </div>
            <div class="modal-body">
                <p class="mb-1" th:text="#{finalize.warning}">THE FOLLOWING THNGS CAN NOT BE CHANGED ANYMORE AFTER FINALIZATION:</p>
                <p class="m-0 ml-2 font-weight-light" th:text="#{finalize.survey}">- THIS SURVEY</p>
                <p class="m-0 ml-2 font-weight-light" th:text="|- #{'editor.' + ${typeID}} #{new.instances}|">- COURSE INSTANCE</p>
                <p class="mb-1 ml-2 font-weight-light" th:text="|- #{'editor.' + ${typeID}} #{detail.groupAmount}|">- GROUP AMOUNT</p>
                <p class="mb-3" th:text="#{finalize.warning2}">MAKE SURE THESE ARE ASIGNED PROPERLY!</p>
                <p class="mb-1 font-weight-light" th:text="#{finalize.tip}">IF YOU WANT TO KEEP WORKING ON YOUR SURVEY LATER ON, CHOSE THE "SAVE"-BUTTON INSTEAD.</p>
            </div>
            <div class="modal-footer text-center">
                <div class="w-100"></div>
                <a href="#" method="post" class="btn btn-primary" th:text="#{question.finalize}">FINALIZE</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
                <div class="w-100"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>