<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--Finalize Modal-->
<div th:fragment="finalizeModal" class="modal fade" id="finalizeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-left">            
            <div class="modal-header">
                <p class="modal-title m-0 font-weight-bold" th:text="#{finalize.headline}">FINALISE COURSE</p>
            </div>
            <div class="modal-body">
                <p class="m-0 text-danger" th:text="#{finalize.warning}">HERE YOU CAN FINALIZE THE SURVEY. STUDENTS CAN ASNWERE THE SURVEY ONCE IT IS FINALIZED.</p>
                <p class="m-0 ml-2 mt-2" th:text="#{finalize.course}">- THIS Course</p>
                <p class="m-0 ml-2 mb-2" th:text="#{finalize.survey}">- THE SURVEYS</p>
                <p class="m-0" th:text="#{finalize.warning2}">MAKE SURE THESE ARE ASIGNED PROPERLY!</p>
            </div>
            <div class="modal-footer text-center">
                <div class="w-100"></div>
                <a href="#" method="post" class="btn btn-primary" th:href="@{/course/finalise?id=__${course.id}__}" th:text="#{question.finalise}">FINALIZE</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
                <div class="w-100"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>