<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<footer th:fragment="footer" class="page-footer font-small text-light">
    <div class="footer-copyright text-center mt-3">
        <p>© 2020 <span><a href="https://tu-dresden.de/med/mf/carl/zentrum/team">QOVA Team</a> | <span><a href="#">Legal Information</a></span> | <span><a href="#">Help & Support</a></span></p>
    </div>
</footer>
</body>

</html>