<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title th:text="#{title.home}">TITLE</title>
</head>
<body>
<div th:include="navbar"></div>
<div class="main container-fluid m-0">
    
    <div class="row" style="min-height: 100vh;">
        
        <!--Quickselect-->
        <div class="col-auto quickselect" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STAFF')" id="quickselect">
            <div class="links toggles">
                <button class="switch_me btn btn-link" onclick="switchero('quickselect')"><i class="fas fa-angle-double-left fa-lg"></i></button>
                <button class="switch_me btn btn-link" onclick="switchero('quickselect')" style="display: none;"><i class="fas fa-bars"></i></button>
            </div>
            <p class="switch_me" th:text="#{home.quickselect}">QUICKSELECT</p>
            <div class="links">
                <a type="button" class="switch_me no-link" th:href="@{/course/new}">
                    <i class="fas fa-plus pr-2"></i><span th:text="#{course.new}">NEW COURSE</span>
                </a>
            </div>
            <p class="sub-header switch_me" th:text="#{home.myCourses}">MY COURSES</p>
            <div class="links switch_me">
                <a th:each="course : ${courseList}" type="button" class="switch_me link" th:href="@{/course/details?id={id}(id=${course.id})}">
                    <i class="fas fa-book pr-2"></i><span th:text="${course.name}">???</span>
                </a>
            </div>
        </div>

        <!--Everything Else-->
        <div style="display: flex; flex-direction: column; flex-grow: 1;">

            <!--Banner-->
            <div class="banner">
                <!--Logo-->
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="logo-home float-md-right m-auto d-block" th:src="@{/resources/images/qova_logo_text.png}" src="../static/resources/images/qova_logo_text.png" alt="Logo"/>
                        </div>
                        <div class="col-md-6 col-sm-12 d-flex align-items-center">
                            <ul class="fancy_text font-weight-light list-unstyled home-page-list">
                                <li>QR-Code based</li>
                                <li>Online</li>
                                <li>Evaluation</li>
                            </ul>
                        </div>
                        <div sec:authorize="isAnonymous()" class="col-12 d-flex justify-content-center mt-5">
                            <a class="btn login-button" th:href="@{/login}">LOGIN</a>
                        </div>
                    </div>                
                </div>
            </div>
        
            <!--About Section-->
            <div class="ml-0 mr-0 about-section" style="flex-grow: 1;" id="home-carousel-wrapper">
                <div class="row" id="home-carousel">
                    <a class="col-1 c_btn pr-0" onclick="move_carousel('l', 'home-carousel')"><i class="fas fa-chevron-left vertical-center"></i></a>
                    <div class="items">
                        <div class="row c_item active card-wrapper">
                            <div class="col col-6 pl-0">
                                <img class="card-image img-fluid vertical-center" th:src="@{/resources/images/manual_survey.jpg}" src="../static/resources/images/manual_survey.jpg" alt="Card image cap">
                            </div>
                            <div class="col col-6 d-flex align-items-center pr-0">
                                <div class="text-wrapper m-4">
                                    <h3 th:text="#{home.about.headline}"></h3>
                                    <p th:text="#{home.about.desc}"></p>
                                </div>
                            </div>
                        </div>
        
                        <div class="row c_item card-wrapper">
                            <div class="col col-6 pl-0">
                                <img class="card-image img-fluid vertical-center" th:src="@{/resources/images/work_station.jpg}" src="../static/resources/images/work_station.jpg" alt="Card image cap">
                            </div>
                            <div class="col col-6 d-flex align-items-center pr-0">
                                <div class="text-wrapper m-4">
                                    <h3 th:text="#{home.beta.headline}"></h3>
                                    <p th:text="#{home.beta.desc}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="col-1 c_btn pl-0" onclick="move_carousel('r', 'home-carousel')"><i class="fas fa-chevron-right vertical-center"></i></a>
                </div>
            </div>
            <div class="about-section" id="phone-version">
                <div class="items">
                    <div class="col col-12">
                        <img class="card-image" th:src="@{/resources/images/manual_survey.jpg}" src="../static/resources/images/manual_survey.jpg">
                        <div class="text-wrapper m-4">
                            <h3 th:text="#{home.about.headline}"></h3>
                            <p th:text="#{home.about.desc}"></p>
                        </div>
                    </div>
                    <div class="col col-12">
                        <img class="card-image" th:src="@{/resources/images/work_station.jpg}" src="../static/resources/images/work_station.jpg">
                        <div class="text-wrapper m-4">
                            <h3 th:text="#{home.beta.headline}"></h3>
                            <p th:text="#{home.beta.desc}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<footer th:replace="footer"></footer>
</body>
<script>
    function move_carousel(direction, target_id) {
        const target = document.getElementById(target_id)
        const items = target.getElementsByClassName("c_item")
        var active_element = target.getElementsByClassName("active")[0]
        var i =  Array.prototype.slice.call(items).indexOf(active_element)
        active_element.classList.remove("active")
        if(direction == "l") {
            if (i == 0) {
                items[items.length-1].classList.add("active")
            }
            else {
                items[i-1].classList.add("active")
            }
        }
        if(direction == "r") {
            if (i+1 == items.length) {
                items[0].classList.add("active")
            }
            else {
                items[i+1].classList.add("active")
            }
        }
    }
    function switchero(target_id) {
        var target = document.getElementById(target_id)
        var targets = target.getElementsByClassName("switch_me")
        for (let i = 0; i < targets.length; i++) {
            if (targets[i].style.display != "none") {
                targets[i].style.display = "none"
            }
            else {
                targets[i].style.display = ""                  
            }
        }
    }
</script>
</html>