<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/5b9febade6.js" crossorigin="anonymous"></script>

    <!-- JavaScript and jQuery added -->
    <script th:src="@{/resources/jsbootstrap/jquerymin.js}" src="../static/resources/jsbootstrap/jquerymin.js" type="text/javascript"></script>
    <script th:src="@{/resources/jsbootstrap/bootstrapmin.js}" src="../static/resources/jsbootstrap/bootstrapmin.js" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
</head>

<body>
<nav th:fragment="navigation">
    <div class="navbar navbar-expand-lg align-items-center">

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <a class="navbar-brand nav-bar-icon" href="/">
                    <img class="logo logo_qr img-fluid" th:src="@{resources/images/qova_logo_qr.png}" alt="Logo"/>
                    <img class="logo logo_text img-fluid" th:src="@{resources/images/qova_logo_text.png}" alt="Logo"/>
                </a>
            </ul>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item media"><a class="nav-link link_to_page" th:text="#{navbar.course}" th:href="@{/courses}">course managment</a></li>
                <li class="nav-item media" sec:authorize="hasRole('TEILZEIT')"><a class="nav-link link_to_page" th:text="#{navbar.results}" th:href="@{/results}">survey results</a></li>
                <li class="nav-item media" sec:authorize="hasRole('ADMIN')"><a class="nav-link link_to_page" th:text="#{navbar.account}" th:href="@{/account}">accounting</a></li>
                <li class="nav-item media" sec:authorize="isAnonymous()"><a class="nav-link link_to_page align-self-center" id="loginbtn" href="login.html" th:text="#{home.login}" th:href="@{/login}">Login</a></li>
                <li class="nav-item media"><button class="btn btn-link align-self-center"><i class="fas fa-cog fa-lg settings_icon"></i></button></li>
            </ul>
        </div>

    </div>
</nav>
</body>

</html>