<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!--Change Language-->
    <script>
        function change_language(lang) {
            var url = window.location.href;
            const trigger = "lang=";
            if (url.includes(trigger)) {
                var position = url.indexOf(trigger)+trigger.length;
                var url_start = url.slice(0, position);
                var url_end = url.slice(position+3);
                url = url_start+lang+url_end;
            }
            else {
                if (url.includes("?")) {
                    url = url+"&"+trigger+lang;
                }
                else {
                    url = url+"?"+trigger+lang;
                }
            }
            window.location.replace(url);
        }
    </script>

    <script src="https://kit.fontawesome.com/5b9febade6.js" crossorigin="anonymous"></script>
</head>

<body>
<div th:fragment="navigation">

    <!--Normal Navbar-->
    <div class="d-none d-md-block d-lg-block d-xl-block">
        <nav class="navbar navbar-expand align-items-center">
            <div class="navbar-collapse order-1 mr-auto">
                <ul class="navbar-nav">
                    <a class="navbar-brand nav-bar-icon" href="/">
                        <img class="logo logo_qr img-fluid" th:src="@{/resources/images/qova_logo_qr.png}" alt="Logo"/>
                        <img class="logo logo_text img-fluid" th:src="@{/resources/images/qova_logo_text.png}" alt="Logo"/>
                    </a>
                </ul>
            </div>

            <div class="navbar-collapse order-2 ml-auto justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item media"><a class="nav-link link_to_page" th:text="#{navbar.course}" th:href="@{/courses}">course managment</a></li>
                    <li class="nav-item media" sec:authorize="hasRole('TEILZEIT')"><a class="nav-link link_to_page" th:text="#{navbar.results}" th:href="@{/studentBrowser}">survey results</a></li>
                    <li class="nav-item media" sec:authorize="hasRole('ADMIN')"><a class="nav-link link_to_page" th:text="#{navbar.account}" th:href="@{/admin}">accounting</a></li>
                    <li class="nav-item media" sec:authorize="isAnonymous()"><a class="nav-link link_to_page" href="/">Login</a></li>
                    <!--Settings-->
                    <li class="nav-item media dropdown p-0">
                        <a class="btn btn-link align-self-center" href="#" id="dropdownSettings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog fa-lg settings_icon"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item font-weight-bold" href="#" th:text="#{navbar.language}">LANGUAGE</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:onclick="change_language('ger')"><svg class="custom-icon ger-icon" th:src="@{/resources/images/ger.svg}"></svg><span class="custom-icon-text align-top">DE</span></a>
                            <a class="dropdown-item" th:onclick="change_language('eng')"><svg class="custom-icon uk-icon" th:src="@{/resources/images/uk.svg}"></svg><span class="custom-icon-text align-top">ENG</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!--Mobile Navbar-->
    <div class="d-md-none d-lg-none d-xl-none d-sm-block d-xs-block">
        <nav class="navbar navbar-expand align-items-center m-0">
            
            <div class="navbar-collapse order-1 mr-auto">
                <ul class="navbar-nav">
                    <a class="navbar-brand nav-bar-icon" href="/">
                        <img class="logo logo_qr img-fluid" th:src="@{/resources/images/qova_logo_qr.png}" src="../static/resources/images/qova_logo_qr.png" alt="Logo"/>
                        <img class="logo logo_text img-fluid" th:src="@{/resources/images/qova_logo_text.png}" src="../static/resources/images/qova_logo_text.png" alt="Logo"/>
                    </a>
                </ul>
            </div>

            <div class="navbar-collapse order-2 ml-auto justify-content-end">
                <div class="navbar-nav">
                    <a class="mr-3" data-toggle="collapse" href="#mobileCollapse" role="button" aria-expanded="false" aria-controls="mobileCollapse"><i class="fas fa-bars fa-2x text-white"></i></a>
                </div>
            </div>
        </nav>
        <div class="collapse mobile-collapse" id="mobileCollapse">
            <ul class="navbar-nav align-items-end">
                <li class="nav-item media"><a class="nav-link link_to_page" th:text="#{navbar.course}" th:href="@{/courses}">course managment</a></li>
                <li class="nav-item media" sec:authorize="hasRole('TEILZEIT')"><a class="nav-link link_to_page" th:text="#{navbar.results}" th:href="@{/studentBrowser}">survey results</a></li>
                <li class="nav-item media" sec:authorize="hasRole('ADMIN')"><a class="nav-link link_to_page" th:text="#{navbar.account}" th:href="@{/admin}">accounting</a></li>
                <li class="nav-item media" sec:authorize="isAnonymous()"><a class="nav-link link_to_page" href="/">Login</a></li>
                <!--Settings-->
                <li class="nav-item media dropdown p-0">
                    <a class="btn btn-link align-self-center" href="#" id="dropdownSettings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog fa-lg settings_icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item font-weight-bold" href="#" th:text="#{navbar.language}">LANGUAGE</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:onclick="change_language('ger')"><svg class="custom-icon ger-icon" th:src="@{/resources/images/ger.svg}"></svg><span class="custom-icon-text align-top">DE</span></a>
                        <a class="dropdown-item" th:onclick="change_language('eng')"><svg class="custom-icon uk-icon" th:src="@{/resources/images/uk.svg}"></svg><span class="custom-icon-text align-top">ENG</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>