<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/questioneditor.css}" />
    <title th:text="#{title.editor}">TITLE</title>
</head>
<body>

    <div th:replace="navbar"></div>

    <div class="main col-lg-12">
        
        <h2 class="font-weight-bold text-center" th:text="#{editor.headline}">SURVEY EDITOR</h2>
        <h5 class="font-weight-light text-center"><span th:text="${coursename} + ': '"></span><span th:text="#{'editor.' + ${typeID}}"></span></h5>
        <div class="text-center default-toggle-wrapper">
            <a class="btn btn-light default-toggle" type="button" onclick="collapse_default_questions()">
                <h5 class="m-1 default-shown" th:text="#{question.default-shown}">HIDE DEFAULT QUESTIONS</h5>
                <h5 class="m-1 default-hidden" th:text="#{question.default-hidden}" style="display: none">SHOW DEFAULT QUESTIONS</h5>
            </a>
        </div>


        <div class="row">       
            <div class="col-lg-3 col-md-12 col-sm-12 text-center">
                <!--Menu-->
                <div class="sticky">
                    <div class="btn-group-vertical float-lg-right border border-dark rounded mt-4 sticky" role="group" aria-label="First group">
                        <button type="button" class="btn btn-head btn-text-right" th:text="#{question.new}">NEW QUESTION</button>
                        <button type="button" class="btn btn-list btn-text-right" onclick="question_new('MultipleChoice')"><span th:text="#{question.multiple-choice}"></span><i class="fas fa-plus-square ml-2"></i></button>
                        <button type="button" class="btn btn-list btn-text-right" onclick="question_new('SingleChoice')"><span th:text="#{question.single-choice}"></span><i class="fas fa-plus-square ml-2"></i></button>
                        <button type="button" class="btn btn-list btn-text-right" onclick="question_new('YesNo')"><span th:text="#{question.yes-no-question}"></span><i class="fas fa-plus-square ml-2"></i></button>
                        <button type="button" class="btn btn-list btn-text-right" onclick="question_new('OnetoFive')"><span th:text="#{question.onetofive-question}"></span><i class="fas fa-plus-square ml-2"></i></button>
                        <button type="button" class="btn btn-list btn-text-right" onclick="question_new('FreeText')"><span th:text="#{question.free-text-question}"></span><i class="fas fa-plus-square ml-2"></i></button>
                        <button type="button" class="btn btn-head btn-text-right" th:text="#{question.edit}">OPTIONS</button>
                        <form th:action="@{/course/previewsurvey?type={type}&id={id}(type=${typeID}, id=${id})}" method="post" th:object="${form}" id="previewsurvey" style="width:100%">
                            <input type="text" name="questionnairejson" id="questionnairejson2" class="input"></input>
                            <button class="btn btn-list btn-text-right" type="submit" ><span th:text="#{question.preview}"></span><i class="fa fa-eye ml-2"></i></i></button>
                        </form>
                        <form th:action="@{/course/surveyeditor?type={type}&id={id}(type=${typeID}, id=${id})}" method="post" th:object="${form}" id="submitsurvey" style="width: 100%">
                            <input type="text" name="questionnairejson" id="questionnairejson" class="input"></input>
                            <button class="btn btn-list-last btn-text-right" type="submit"><span th:text="#{question.save}"></span><i class="fas fa-save custom-save ml-2"></i></button>
                        </form>
                        <a type="button" class="btn btn-list btn-text-right" onclick="history.back()" th:text="#{question.back}"></a>
                    </div>
                </div>
            </div>
            <!--Questions-->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div id="default_questionnaire" style="display: none;"></div>
                <h5 class="text-center mt-4 mb-4" th:text="#{question.custom}">CUSTOM QUESTIONS</h5>
                <div id="questionnaire"></div>
                
                <div class="templates" style="display: none;">
                    <!--Question Template-->
                    <div id="question_template" class="container bg-white border border-secondary rounded mt-4">
                        <div class="row head-row">
                            <div class="col-md-8 pl-0">
                                <h3 class="text-light text-center index-number">0</h3>
                                <!--Change Question-->
                                <button class="btn btn-link dropdown-toggle question-headline font-weight-light" type="button" id="dropdownMenuButton(X)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QUESTION TYPE</button>
                                <div id="dropdown-menu" class="dropdown-menu not-default" x-placement="bottom-start">
                                    <a class="dropdown-item YesNo" onclick="question_change_type(this, 'YesNo')" th:text="#{question.yes-no-question}">YesNo-Question</a>
                                    <a class="dropdown-item MultipleChoice" onclick="question_change_type(this, 'MultipleChoice')" th:text="#{question.multiple-choice}">Multiple Question</a>
                                    <a class="dropdown-item SingleChoice" onclick="question_change_type(this, 'SingleChoice')" th:text="#{question.single-choice}">Single Choice</a>
                                    <a class="dropdown-item OnetoFive" onclick="question_change_type(this, 'OnetoFive')" th:text="#{question.onetofive-question}">OnetoFive-Question</a>
                                    <a class="dropdown-item FreeText" onclick="question_change_type(this, 'FreeText')" th:text="#{question.free-text-question}">Free-Text-Question</a>
                                </div>
                            </div>
                            <div class="col-md-4 pr-0 text-right not-default">
                                <button class="btn btn-link nounderline pull-right m-1" onclick="question_delete(this)" data-toggle="tooltip" data-placement="top" data-original-title="Delete Question"><i class="fa fa-trash"></i></button>
                                <button class="btn btn-link nounderline pull-right m-1" onclick="question_clone(this)" data-toggle="tooltip" data-placement="top" data-original-title="Copy Question"><i class="fa fa-clone"></i></button>
                                <button class="btn btn-link nounderline pull-right m-1" onclick="question_move(this, 'up')" data-toggle="tooltip" data-placement="top" data-original-title="Move up one position"><i class="fa fa-arrow-up"></i></button>
                                <button class="btn btn-link nounderline pull-right m-1" onclick="question_move(this, 'down')" data-toggle="tooltip" data-placement="top" data-original-title="Move down one position"><i class="fa fa-arrow-down"></i></button>
                            </div>
                        </div>
                        <textarea class="row question-row Textarea Question ml-1 mr-1" maxlength="1024" th:placeholder="#{Question}" style="height: 1px; overflow-y: hidden;"></textarea>
                        <div class="row options-row ml-4">
                            <div class="col-12 answer-col"></div>

                            <div class="row m-0 mt-2 mb-4 not-default">
                                <div class="col-auto d-flex align-items-center"><i class="far align-middle fa-circle"></i></div>
                                <div class="col-auto"><button class="btn btn-primary editor-color new-answer-button" onclick="new_answer_button(this)" th:text="#{question.add-new-answer}">NEW ANSWER</button></div>
                            </div>
                        </div>
                    </div>
    
                    <!--Answer Template-->
                    <div class="row" id="answer_template">
                        <div class="col-auto d-flex align-items-center"><i class="far align-middle fa-circle"></i></div>
                        <div class="col-7"><textarea class="Textarea Question ml-1 mr-1" maxlength="1024" th:placeholder="#{Answer}" style="height: 1px; overflow-y: hidden;"></textarea></div>
                        <div class="col-4 d-flex align-items-center answer-options not-default">
                            <button class="btn btn-link nounderline" onclick="answer_delete(this)"><i class="fa fa-trash"></i></button>
                            <button class="btn btn-link nounderline" onclick="answer_clone(this)"><i class="fa fa-clone"></i></button>
                            <button class="btn btn-link nounderline" onclick="answer_move(this, 'up')"><i class="fa fa-arrow-up"></i></button>
                            <button class="btn btn-link nounderline" onclick="answer_move(this, 'down')"><i class="fa fa-arrow-down"></i></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-0 col-sm-0"></div>
        </div>

    </div>
    
    <div th:replace="footer"></div>

    <script th:inline="javascript">

        //loading survey into javascript + rendering
        const survey = JSON.parse([[${survey}]]);
        const default_survey = JSON.parse([[${defaultSurvey}]]);
        function render_list(render_us, default_bool) {
            for ( let i=0; i < render_us.length; i++){
                render_question_element(render_us[i], i, default_bool)
            }
        }
        function render_default() {
            render_list(default_survey, true)
        }
        function render_all() {
            render_list(survey, false)
        }
        function render_all_refresh() {
            document.getElementById("questionnaire").innerHTML = ""
            render_all()
        }

        window.onload = function(){
            render_default()
            render_all()
            refreshTextareas()
        }

        //auto resize for the textareas
        const line_height = convertRemToPixels(2);
        var tx = document.getElementsByTagName('textarea');

        function refreshTextareas () {
            tx = document.getElementsByTagName('textarea');
            for (let i = 0; i < tx.length; i++) {
                tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
                tx[i].addEventListener("input", OnInput, false);
            }
            function OnInput() {
                if (line_height < this.scrollHeight) {
                    this.style.height = 'auto';
                    this.style.height = (this.scrollHeight) + 'px';
                }
            }
        }
        function convertRemToPixels(rem) {
            return rem * parseFloat(getComputedStyle(document.documentElement).fontSize);
        }
                
        function delete_element(element) {
            try {
                element.parentNode.removeChild(element);
            }
            catch(e) {
                console.log(e);
            }
        }

        //Bootsrapped
        function render_question_element (value, index, default_bool){
            
            const template = document.getElementById("question_template").cloneNode(true);
            template.id = index;

            template.getElementsByClassName("index-number")[0].innerHTML = index+1;

            //dropdown fix (changes title & removes present )
            var target = template.getElementsByClassName("dropdown-menu")[0].getElementsByClassName(value["type"])[0]
            template.getElementsByClassName("dropdown-toggle")[0].innerHTML = target.innerHTML
            delete_element(target)

            //filling in the question if it exists
            var question_input = template.getElementsByClassName("question-row")[0];
            question_input.id = index;
            if (value["question"] != "") {
                question_input.value = value["question"];
            }

            //adding/removing the choices
            var target = template.getElementsByClassName("options-row")[0];
            if (["SingleChoice", "MultipleChoice"].includes(value["type"])) {
                for ( let i=0; i < value["answers"].length; i++){
                    new_answer(target.getElementsByClassName("answer-col")[0], value["answers"][i])
                }
            }
            else {
                delete_element(target)
            }

            //disables textareas on default questions, other changes (hiding unneeded parts)
            //are controlled by the questioneditor.css
            if (default_bool) {
                var disable_me = template.getElementsByTagName("textarea")
                for ( let i=0; i < disable_me.length; i++){
                    disable_me[i].disabled = true;
                }
                document.getElementById("default_questionnaire").appendChild(template);
            }
            else {
                document.getElementById("questionnaire").appendChild(template);
            }
        }

        //create new question of specified type
        function question_new(type) {
            check_for_changes()
            var new_question = {"type": type, "question": "", "default": false}
            if (["SingleChoice", "MultipleChoice"].includes(type)) {
                new_question["answers"] = ['', '', '']
            }
            survey.push(new_question)
            render_all_refresh()
        }
        //question buttons
        function question_delete(clicked_button) {
            check_for_changes()
            var question_index = clicked_button.parentElement.parentElement.parentElement.id
            survey.splice(question_index, 1)
            render_all_refresh()
        }
        function question_clone(clicked_button) {
            check_for_changes()
            var question_index = clicked_button.parentElement.parentElement.parentElement.id
            survey.splice(question_index, 0, survey[question_index])
            render_all_refresh()
        }
        function question_move(clicked_button, mode) {
            check_for_changes()
            var question_index = clicked_button.parentElement.parentElement.parentElement.id
            var copied_element = survey[question_index]
            if ((mode === 'up') && (question_index > 0)) {
                survey.splice(question_index, 1)
                survey.splice(question_index-1, 0, copied_element)
            }
            else if ((mode === 'down') && (question_index < survey.length-1)) {
                survey.splice(question_index, 1)
                survey.splice(question_index+1, 0, copied_element)
            }
            render_all_refresh()
        }
        function question_change_type(clicked_button, new_type) {
            check_for_changes()
            var question_index = clicked_button.parentElement.parentElement.parentElement.parentElement.id;
            var old_type = survey[question_index]["type"];
            var with_answer = ["SingleChoice", "MultipleChoice"];
            if (!with_answer.includes(new_type) && with_answer.includes(old_type)) {
                delete survey[question_index]["answers"]
            }
            else if (with_answer.includes(new_type) && !with_answer.includes(old_type)) {
                survey[question_index]["answers"] = ["", "", ""]
            }
            survey[question_index]["type"] = new_type
            render_all_refresh()
        }

        //updates loaded json according to the users changes
        function check_for_changes() {
            var rendered_questions = document.getElementById("questionnaire").children;
            for (let i=0; i < survey.length; i++) {
                survey[i]["question"] = rendered_questions[i].getElementsByClassName("question-row")[0].value;
                if (["SingleChoice", "MultipleChoice"].includes(survey[i]["type"])) {
                    var rendered_answers = rendered_questions[i].getElementsByClassName("answer-col")[0].children;
                    var new_answers = []
                    for (let i=0; i < rendered_answers.length; i++) {
                        new_answers[i] = rendered_answers[i].getElementsByClassName("Textarea")[0].value;
                    }
                    survey[i]["answers"] = new_answers
                }
            }
        }

        //adds new answer option
        function new_answer(target, content) {
            const template = document.getElementById("answer_template").cloneNode(true);
            template.removeAttribute('id');
            if (content != "") {
                template.getElementsByClassName("Textarea")[0].value = content;
            }
            target.appendChild(template);
        }
        function new_answer_button(clicked_button) {
            new_answer(clicked_button.parentElement.parentElement.parentElement.getElementsByClassName("answer-col")[0], "");
        }
        //answer buttons
        function answer_delete(clicked_button) {
            delete_element(clicked_button.parentElement.parentElement);
        }
        function answer_clone(clicked_button) {
            var content = clicked_button.parentElement.parentElement.getElementsByClassName("Textarea")[0].value;
            new_answer(clicked_button.parentElement.parentElement.parentElement, content)
        }
        function answer_move(clicked_button, mode) {
            var relevant_answer = clicked_button.parentElement.parentElement;
            var answer_container = relevant_answer.parentElement;
            //finding the position of the answer
            var answer_index = 0;
            for (let i=0; i < answer_container.children.length; i++) {
                if (answer_container.children[i] === relevant_answer) {
                    answer_index = i
                }
            }
            var relevant_answer_clone = relevant_answer.cloneNode(true)
            if ((mode === 'up') && (answer_index > 0)) {
                answer_container.insertBefore(relevant_answer_clone, answer_container.children[answer_index-1])
                delete_element(relevant_answer)
            }
            else if ((mode === 'down') && (answer_index < answer_container.children.length-1)) {
                answer_container.insertBefore(relevant_answer_clone, answer_container.children[answer_index+2])
                delete_element(relevant_answer)
            }
        }


        //Onclick Show the Dropdown Content
        function hideshowdropdowntitle(q_index) {
            document.getElementById(q_index).getElementsByClassName("dropdown-content")[0].classList.toggle("show");
        }

        function collapse_default_questions(id) {
            var collapse_me = document.getElementById('default_questionnaire')
            if (collapse_me.style.display === "") {
                collapse_me.style.display = "none"
                document.getElementsByClassName('default-shown')[0].style.display = "none"
                document.getElementsByClassName('default-hidden')[0].style.display = ""
            }
            else if (collapse_me.style.display === "none") {
                collapse_me.style.display = ""
                document.getElementsByClassName('default-shown')[0].style.display = ""
                document.getElementsByClassName('default-hidden')[0].style.display = "none"
            }
        }

        //Close Dropdwon if the User Clicks Outside
        //Problem das man mehrer Dropdown klicken kann ohne das vorherige schließt
        window.onclick = function (event) {
            if (!event.target.matches('.Buttondropdown')) {
                const dropdowns = document.getElementsByClassName("dropdown-content");
                for ( let i = 0; i<dropdowns.length; i++){
                    const openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains("show")){
                        openDropdown.classList.remove("show");
                    }
                }
            }
        }

        $(document).ready(function () {
            $("form").submit(function () {
                check_for_changes();
            })
        });

        $('#submitsurvey').submit(function () {
            check_for_changes();
            document.getElementById("questionnairejson").value = JSON.stringify(survey);
            return true;
        });
        $('#previewsurvey').submit(function () {
            check_for_changes();
            document.getElementById("questionnairejson2").value = JSON.stringify(survey);
            return true;
        });

    </script>

</body>
</html>