<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/questioneditor.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:text="#{home.title}">TITLE</title>
</head>
<body>
<div th:include="navbar"></div>
<h1 id="Name">
    Fragen für den Fragebogen
</h1>
<div class="column left">
    <button class="Button NewQuestion" onclick="addYesNoQuestion()">Füge eine Ja-Nein-Frage hinzu</button>
    <button class="Button NewQuestion" onclick="addMultipleChoiceQuestion()">Füge eine Multiple-Choice-Frage hinzu</button>
    <button class="Button NewQuestion" onclick="addFreeTextQuestion()">Füge eine Frei-Text-Frage</button>
    <button class="Button NewQuestion" onclick="addSingleChoiceQuestion()">Füge eine Single-Choice-Frage hinzu</button>
    <button class="Button NewQuestion" onclick="addDropDownQuestion()"> Füge eine DropDown-Frage hinzu</button>
</div>

<div class="column right" id="questionnaire">

</div>

<script>
    const questionnaire = [];

    function addYesNoQuestion() {
        saveInputs();
        const yesnoQuestion = {
            type: "YesNo",
            question: "Frage"
        };
        questionnaire.push(yesnoQuestion);
        renderall();
    }

    function addMultipleChoiceQuestion(){
        saveInputs();
        const multiplechoiceQuestion = {
            type: "MultipleChoice",
            question: "Frage",
            answers: []
        };
        questionnaire.push(multiplechoiceQuestion);
        renderall();

    }

    function addDropDownQuestion() {
        saveInputs();
        const dropdownQuestion = {
            type: "DropDown",
            question: "Frage",
            answers: []
        };
        questionnaire.push(dropdownQuestion);
        renderall();
    }

    function addSingleChoiceQuestion() {
        saveInputs();
        const singlechoiceQuestion = {
            type: "SingleChoice",
            question: "Frage",
            answers: []
        };
        questionnaire.push(singlechoiceQuestion);
        renderall();
    }

    function addFreeTextQuestion() {
        saveInputs();
        const freetextQuestion={
            type: "FreeText",
            question: "Frage",
        };
        questionnaire.push(freetextQuestion);
        renderall();

    }


    
    function renderall(){
        clearquestionnaire();
        questionnaire.forEach(renderquestionnaireelement);


    }

    function renderquestionnaireelement (value, index, array){
        const x = document.createElement("DIV");
        if (value.type === "YesNo"){

            <!--Create a html section for a YesNo-Question -->
            x.className = "Question YesNo";
            x.setAttribute("id",index);

            const title = document.createElement("DIV");
            title.innerHTML = "Ja-Nein Frage";
            title.className = ("Title");
            x.appendChild(title);


            <!--Buttons Delete-->
            x.appendChild(createButtonDelete(index));
            <!--Button PushDown PushUp -->
            if (index > 0) {
                x.appendChild(createButtonUp(index));
            }
            <!-- array.lastChild === array[index]-->
            if (index+1 !== array.length && array.length >1){
                x.appendChild(createButtonDown(index));
            }


            <!--Textarea for the question input-->
            const x1 = document.createElement("TEXTAREA");
            x1.className = ("Textarea Question");
            x1.defaultValue = value.question;
            x.appendChild(x1);

        }
        else if (value.type ==="FreeText"){

            <!--Create a html section for a YesNo-Question -->
            x.className = "Question FreeText";
            x.setAttribute("id",index);


            const title = document.createElement("DIV");
            title.innerHTML = "Frei-Text Frage";
            title.className = ("Title");
            x.appendChild(title);


            <!--Buttons Delete-->
            x.appendChild(createButtonDelete(index));
            <!--Button PushDown PushUp -->
            if (index > 0) {
                x.appendChild(createButtonUp(index));
            }
            <!-- array.lastChild === array[index]-->
            if (index+1 !== array.length && array.length >1){
                x.appendChild(createButtonDown(index));
            }
            <!--Textarea for the question input-->
            const x1 = document.createElement("TEXTAREA");
            x1.className = ("Textarea Question");
            x1.defaultValue = value.question;

            x.appendChild(x1);

        }
        else if (value.type === "SingleChoice"){

            <!--Create a html section for a SingleChoice-Question -->
            x.className = "Question SingleChoice";
            x.setAttribute("id",index);

            const title = document.createElement("DIV");
            title.innerHTML = "Single-Choice Frage";
            title.className = ("Title");
            x.appendChild(title);


            <!--Buttons Delete-->
            x.appendChild(createButtonDelete(index));
            <!--Button PushDown PushUp -->
            if (index > 0) {
                x.appendChild(createButtonUp(index));
            }
            <!-- array.lastChild === array[index]-->
            if (index+1 !== array.length && array.length >1){
                x.appendChild(createButtonDown(index));
            }

            <!--Textarea for the question input-->
            const x1 = document.createElement("TEXTAREA");
            x1.className = ("Textarea Question");
            x1.defaultValue = value.question;
            x.appendChild(x1);

            const answer_div = document.createElement("DIV");
            answer_div.className = "Answer";
            x.appendChild(answer_div);

            for ( let i =0;i<value.answers.length;i++){
                const x2 =document.createElement("TEXTAREA");
                x2.className = ("Textarea Answers");
                x2.defaultValue = value.answers[i];
                x2.setAttribute("id",i.toString());
                answer_div.appendChild(x2);

            }

            x.appendChild(createButtonnewAnswer(index));



        }

        else if (value.type === "DropDown"){

            <!--Create a html section for a DropDown-Question -->
            x.className = "Question DropDown";
            x.setAttribute("id",index);

            const title = document.createElement("DIV");
            title.innerHTML = "Drop-Down Frage";
            title.className = ("Title");
            x.appendChild(title);

            <!--Buttons Delete-->
            x.appendChild(createButtonDelete(index));
            <!--Button PushDown PushUp -->
            if (index > 0) {
                x.appendChild(createButtonUp(index));
            }
            <!-- array.lastChild === array[index]-->
            if (index+1 !== array.length && array.length >1){
                x.appendChild(createButtonDown(index));
            }

            <!--Textarea for the question input-->
            const x1 = document.createElement("TEXTAREA");
            x1.className = ("Textarea Question");
            x1.defaultValue = value.question;
            x.appendChild(x1);

            const answer_div = document.createElement("DIV");
            answer_div.className = "Answer";
            x.appendChild(answer_div);

            for ( let i =0;i<value.answers.length;i++){
                const x2 =document.createElement("TEXTAREA");
                x2.className = ("Textarea Answers");
                x2.defaultValue = value.answers[i];
                x2.setAttribute("id",i.toString());
                answer_div.appendChild(x2);

            }

            x.appendChild(createButtonnewAnswer(index));



        }

        else if (value.type === "MultipleChoice"){

            <!--Create a html section for a MultipleChoice-Question -->
            x.className = "Question MultipleChoice";
            x.setAttribute("id",index);

            const title = document.createElement("DIV");
            title.innerHTML = "Multiple-Choice Frage";
            title.className = ("Title");
            x.appendChild(title);


            <!--Buttons Delete-->
            x.appendChild(createButtonDelete(index));
            <!--Button PushDown PushUp -->
            if (index > 0) {
                x.appendChild(createButtonUp(index));
            }
            <!-- array.lastChild === array[index]-->
            if (index+1 !== array.length && array.length >1){
                x.appendChild(createButtonDown(index));
            }

            <!--Textarea for the question input-->
            const x1 = document.createElement("TEXTAREA");
            x1.className = ("Textarea Question");
            x1.defaultValue = value.question;
            x.appendChild(x1);

            const answer_div = document.createElement("DIV");
            answer_div.className = "Answer";
            x.appendChild(answer_div);

            for ( let i =0;i<value.answers.length;i++){
                const x2 =document.createElement("TEXTAREA");
                x2.className = ("Textarea Answers");
                x2.defaultValue = value.answers[i];
                x2.setAttribute("id",i.toString());
                answer_div.appendChild(x2);

            }

            x.appendChild(createButtonnewAnswer(index));



        }
        document.getElementById("questionnaire").appendChild(x);

    }
    
    function clearquestionnaire() {
        const questionnaire = document.getElementById("questionnaire");
        while (questionnaire.firstChild){
            questionnaire.removeChild(questionnaire.lastChild);
        }

    }

    function saveInputs() {
        const textareas_question = document.getElementsByClassName("Textarea Question");
        for (let i=0;i<textareas_question.length;i++){
            const questionid = textareas_question[i].parentElement.id;
            questionnaire[questionid].question = textareas_question[i].value;

        }

        const textareas_answer = document.getElementsByClassName("Textarea Answers");
        for (let i=0;i<textareas_answer.length;i++){
            const questionid = textareas_answer[i].parentElement.parentElement.id;
            const answerid = textareas_answer[i].id;
            questionnaire[questionid].answers[answerid] = textareas_answer[i].value;

        }

    }

    function createButtonDelete (index){
        const btn_d = document.createElement("BUTTON");
        btn_d.className = "Button Delete fa fa-trash";
        btn_d.setAttribute("onclick","deleteQuestion("+ index+")");
        return btn_d;

    }

    function createButtonUp(index) {
        const btn_up = document.createElement("Button");
        btn_up.className = "Button UP fa fa-arrow-up";
        btn_up.setAttribute("onclick","pushQuestionUp("+index+")");
        return btn_up;
    }

    function createButtonDown(index) {
        const btn_down = document.createElement("Button");
        btn_down.className="Button DOWN fa fa-arrow-down";
        btn_down.setAttribute("onclick","pushQuestionDown("+index+")");
        return btn_down;

    }

    function createButtonnewAnswer(index){
        const btn_newAnswer = document.createElement("Button");
        btn_newAnswer.className="Button NewAnswer";
        btn_newAnswer.innerHTML="Add new Answer";
        btn_newAnswer.setAttribute("onclick","addnewAnswer("+index+")");

        return btn_newAnswer;
    }

    function deleteQuestion(index) {
        saveInputs();
        questionnaire.splice(index,1);
        renderall();
    }

    function pushQuestionUp(index){
        saveInputs();
        const predecessor = index -1;
        const question = questionnaire[index];
        questionnaire[index]= questionnaire[predecessor];
        questionnaire[predecessor]=question;
        renderall();
    }

    function pushQuestionDown(index) {
        saveInputs();
        const predecessor = index +1;
        const question = questionnaire[index];
        questionnaire[index]= questionnaire[predecessor];
        questionnaire[predecessor]=question;
        renderall();

    }

    function addnewAnswer(index){
        saveInputs();
        questionnaire[index].answers.push("Answer");
        renderall();
    }

</script>
</body>
</html>