<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title th:text="#{title.studentBrowser}">TITLE</title>
</head>

<body>
<div th:include="navbar"></div>

<div class="main container">
    <div class="row justify-content-center">

        <!--Headline-->
        <div class="col-12 text-center">
            <h2 class="font-weight-bold" th:text="#{student.browser}">COURSE BROWSER</h2>
            <h5 class="font-weight-light" th:text="#{student.description}">DESCRIPTION</h5>
        </div>

        <div class="col-12 bg-light text-left mt-4 p-0" th:with="faculties = ${T(qova.enums.CourseFaculty).values()}">
            <div class="clWrapper" th:each="faculty : ${#lists.sort(faculties)}">
                <div style="position: relative; height: 3rem;"><a class="clButton" onclick="return expand(this)"><span class="clHeader" th:text="#{'course.faculty.' + ${faculty}}"></span></a></div>
                <div class="clCollapse" style="display: none;">
                    <div class="clInner" th:each="course : ${courseList}" th:if="${course.faculty == faculty and course.finalisedFlag}">
                        <a class="clSurvey font-weight-light" th:text="${course.name}" th:href="@{/survey/select(id=${course.id}, mode=results)}"></a>
                    </div>
                </div>
            </div>
        </div>
       

    </div>
</div>

<div th:replace="footer"></div>
</body>
<script>
$(document).ready(function () {
    delete_empty_faculties();
});

function delete_empty_faculties() {
    var faculties = document.getElementsByClassName("clWrapper");
    var naughty_list = []
    for (let i = 0; i < faculties.length; i++) {
        if (faculties[i].getElementsByClassName("clSurvey").length == 0) {
            naughty_list.push(faculties[i]);
        }
    }
    for (let i = 0; i < naughty_list.length; i++) {
        naughty_list[i].parentElement.removeChild(naughty_list[i]);
    }
}

function expand(input) {
    var target = input.parentElement.parentElement.getElementsByClassName("clCollapse")[0];
    var trash = document.getElementsByClassName("clButton_after");
    for (let i = 0; i < trash.length; ++i) {
        trash[i].parentElement.parentElement.getElementsByClassName("clCollapse")[0].style.display = "none";
        trash[i].parentElement.parentElement.style.borderWidth = "1px"
        trash[i].className="clButton";
    }
    if (target.style.display == "none") {
        target.style.display = "";
        input.parentElement.parentElement.style.borderWidth = "3px"
        input.className = "clButton_after"
    }
    else {
        target.style.display = "none";
        input.className = "clButton"
    }
}
</script>
</html>