<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />	
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/survey.css}" />
	<title th:text="#{home.title}">TITLE</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


</head>
<body class="bg-light">
<div th:include="navbar"></div>

<!--Für welchen Typ die Umfrage ist würde ich vielleicht kicken, weil ich das ja weiß, wenn ich drinnen sitzte-->
<div class="row">
	<div class="col-lg-12 mt-4">
		<h2 class="font-weight-bold text-center title"><span th:text="${coursename} +' : '"></span><span th:text="#{'editor.' + ${typeID}}"></span></h2>
		<div class="row">
			<div class="col-md-3"></div>
			<!-- Survey-->
			<div class="col-md-6">
				<div id="survey"></div>
				<div id="submit" class="submit">
					<form th:action="@{/survey?type={type}&id={id}(type=${typeID}, id=${id})}" method="post" th:object="${form}" id="submitsurvey">
						<input type="text" name="surveyjson" id="surveyjson" class="input"></input>
						<button class="btn btn-primary mt-2 center" type="submit" th:text="#{question.submit}">SUBMIT</button>
					</form>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>


<div class="pt-4" th:include="footer"></div>

<script>
	const survey = [{"type":"YesNo","question":"Scheint die Sonne"},{"type":"MultipleChoice","question":"Wie geht es dir?","answers":["Okay","Gut","Schlecht"]},{"type":"SingleChoice","question":"Ja Neine Vielleicht","answers":["Ja","Nein","Vielleicht"]},{"type":"FreeText","question":"STONKS"}];
	console.log(survey);

	//onload buildt the survey clientside
	window.onload = function () {
		survey.forEach(renderquestion);

	}

	function renderquestion (value,index,array){

		const x = document.createElement("DIV");

		//DIV for Number and Question
		const row1 = document.createElement("DIV");
		row1.className = "row";

		//Number on the top left
		const index_number = document.createElement("h3");
		index_number.className = "text-light text-center index-number"
		index_number.innerHTML = index+1;
		const left = document.createElement("DIV");
		left.className = "col-md-12 pl-0";

		left.appendChild(index_number);


		//Part for the question
		const question = document.createElement("h4");
		question.className = "Question";
		question.innerText = value.question;

		left.appendChild(question);
		row1.appendChild(left);
		x.appendChild(row1);

		if (value.type == "YesNo"){
			x.className ="container bg-white border border-secondary rounded mt-4 YesNo";
			x.setAttribute("id",index);

			const selectionOption = document.createElement("DIV");
			selectionOption.className = "Options YesNo";


			//Yes Answer
			// Deutsch English bei YesNo?
			const fullOptionYes = document.createElement("DIV");
			fullOptionYes.className = "Option 1";
			const tickboxYes = document.createElement("INPUT");
			tickboxYes.className ="tickbox";
			tickboxYes.setAttribute("type","radio");
			tickboxYes.setAttribute("value", "Yes");
			tickboxYes.setAttribute("id", "Yes");
			tickboxYes.setAttribute("name",index);
			const descriptionYes = document.createElement("LABEL");
			descriptionYes.innerText = "Yes";
			descriptionYes.setAttribute("for","Yes");

			fullOptionYes.appendChild(tickboxYes);
			fullOptionYes.appendChild(descriptionYes);
			selectionOption.appendChild(fullOptionYes);

			const fullOptionNo = document.createElement("DIV");
			fullOptionNo.className = "Option 2";
			const tickboxNo = document.createElement("INPUT");
			tickboxNo.className ="tickbox";
			tickboxNo.setAttribute("type","radio");
			tickboxNo.setAttribute("value", "No");
			tickboxNo.setAttribute("id", "No");
			tickboxNo.setAttribute("name",index);
			const descriptionNo = document.createElement("LABEL");
			descriptionNo.innerText = "No";
			descriptionNo.setAttribute("for","No");

			fullOptionNo.appendChild(tickboxNo);
			fullOptionNo.appendChild(descriptionNo);
			selectionOption.appendChild(fullOptionNo);



			x.appendChild(selectionOption);


		}

		else if (value.type ==="FreeText") {

			x.className = "container bg-white border border-secondary rounded mt-4 FreeText";
			x.setAttribute("id", index);

			const div = document.createElement("DIV");
			div.className ="Options FreeText";

			const text_area = document.createElement("TEXTAREA");
			text_area.className = "Textarea FreeText";
			text_area.setAttribute("id",index);
			text_area.placeholder = "Antwort";

			div.appendChild(text_area);
			x.appendChild(div);




		}

		else if (value.type === "SingleChoice") {

				x.className = "container bg-white border border-secondary rounded mt-4 SingleChoice";
				x.setAttribute("id", index);

				const selectionOption = document.createElement("DIV");
				selectionOption.className = "Options SingleChoice";


				for (let i = 0; i< value.answers.length;i++){

					const fullOption = document.createElement("DIV");
					fullOption.className = "Option "+i;
					const tickbox = document.createElement("INPUT");
					tickbox.className ="tickbox";
					tickbox.setAttribute("type","radio");
					tickbox.setAttribute("value", value.answers[i]);
					tickbox.setAttribute("id",value.answers[i]);
					tickbox.setAttribute("name",index);
					const description = document.createElement("LABEL");
					description.innerText = value.answers[i];
					description.setAttribute("for",value.answers[i]);


					fullOption.appendChild(tickbox);
					fullOption.appendChild(description);
					selectionOption.appendChild(fullOption);

				}

				x.appendChild(selectionOption);





		}
		else if (value.type === "MultipleChoice") {

			//Create a html section for a MultipleChoice-Question
			x.className = "container bg-white border border-secondary rounded mt-4 MultipleChoice";
			x.setAttribute("id", index);

			const selectionOption = document.createElement("DIV");
			selectionOption.className = "Options MultipleChoice";


			for (let i = 0; i< value.answers.length;i++){

				const fullOption = document.createElement("DIV");
				fullOption.className = "Option "+i;
				const tickbox = document.createElement("INPUT");
				tickbox.className ="tickbox";
				tickbox.setAttribute("type","checkbox");
				tickbox.setAttribute("value", value.answers[i]);
				tickbox.setAttribute("id",value.answers[i]);
				tickbox.setAttribute("name",index);
				const description = document.createElement("LABEL");
				description.innerText = value.answers[i];
				description.setAttribute("for",value.answers[i]);


				fullOption.appendChild(tickbox);
				fullOption.appendChild(description);
				selectionOption.appendChild(fullOption);

			}

			x.appendChild(selectionOption);
		}

		document.getElementById("survey").appendChild(x);


	}

	$('#submitsurvey').submit(function () {

		const surveyjson = [];


		const  questions = document.getElementById("survey").getElementsByClassName("container bg-white border border-secondary rounded mt-4");
		for (let i = 0; i<questions.length; i++ ){


			const answer = [];
			const type = questions[i].className;
			console.log(type);

			// Für FreeText Quesiton
			if (questions[i].className == "container bg-white border border-secondary rounded mt-4 FreeText"){
				answer.push(questions[i].getElementsByClassName("Options")[0].getElementsByClassName("Textarea")[0].value);
			}

			//Für alle anderen Typen
			else {
				const options = questions[i].getElementsByClassName("Options")[0].getElementsByClassName("Option");

				for (let j = 0; j < options.length; j++) {
					if (options[j].getElementsByClassName("tickbox")[0].checked) {
						answer.push(j);
					}
				}

			}
			surveyjson.push(answer);
		}
		document.getElementById("surveyjson").value = JSON.stringify(surveyjson);
		return true;
	});




</script>
</body>
</html>
