<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.1.1/jspdf.umd.min.js"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <title th:text="#{title.surveyResults}">TITLE</title>
</head>
<body></body>

    <div th:include="navbar"></div>

    <div class="main container">
        <div class="row justify-content-center">

            <!--Headline-->
            <div class="col-12 text-center">
                <h2 class="font-weight-bold" th:text="#{surveyResults.headline}">SURVEY RESULTS</h2>
                <h5 class="font-weight-light" th:text="#{surveyResults.description}">YOU CAN CHECK OUT THE RESULTS OF A SURVEY HERE!</h5>
            </div>

            <!--Everything after this will be turned into the PDF-->
            <div class="col-12 text-center" id="pdf">
                <div id="meta">
                    <table class="table table-borderless m-0">
                        <tbody>
                            <tr>
                                <th class="border-0" scope="row"><h5 class="font-weight-light"><span class="font-weight-normal" th:text="|#{new.courseName}: |">COURSE NAME: </span><span th:text="${courseName}"></span></h5></th>
                                <th class="border-0"><h5 class="font-weight-light"><span class="font-weight-normal" th:text="|#{type}: |">TYPE: </span><span th:text="#{${courseType}}"></span></h5></th>
                                <th class="border-0"><h5 class="font-weight-light"><span class="font-weight-normal" th:text="|#{instance}: |">INSTANCE: </span>
                                    <span th:if="${instance} == 'all'" th:text="#{${instance}}"></span>
                                    <span th:if="!(${instance} == 'all')" th:text="${instance}"></span>
                                </h5></th>
                                <th class="border-0"><h5 class="font-weight-light"><span class="font-weight-normal" th:text="|#{group}: |">GROUP: </span>
                                    <span th:if="${group} == 'all'" th:text="#{${group}}"></span>
                                    <span th:if="!(${group} == 'all')" th:text="${group}"></span>
                                </h5></th>
                                <th class="border-0"><h5 class="font-weight-light"><span class="font-weight-normal" th:text="|#{course.courseDate}: |">SEMESTER: </span><span th:text="${semester}"></span></h5></th>
                            </tr>
                        </tbody>
                    </table>
                    <h5 class="font-weight-light pb-4 m-0"><span class="font-weight-normal" th:text="|#{surveyResults.NoS}: |">NUMBER OF SUBMISSIONS: </span><span th:text="${numberOfSubmissions}"></span></h5>
                    <div class="col-12">
                        <a class="btn btn-primary btn-tu" th:href="@{/survey/results/generateCSV(id=${id}, type=${#strings.toUpperCase(courseType)}, groupNumber=${group}, instanceNumber=${instance})}" th:text="#{surveyResults.downloadCSV}">DOWNLOAD CSV</a>
                        <a class="btn btn-primary btn-tu noPDF" th:text="#{surveyResults.downloadButton}" onclick="download_pdf()">DOWNLOAD RESULTS AS PDF</a>
                    </div>
                </div>
                <!--Survey Results-->
                <div class="col-12 mt-4" id="results"></div>
            </div>

        </div>
    </div>

    <!--Resources-->
    <div id="resource-container" style="display: none;">
        <!--Question Template-->
        <div class="container result-container bordered with-bars mb-4">
            <div class="row align-items-center justify-content-between mt-2 mb-2">
                <div class="col-8 text-left">
                    <h5 class="question-type m-0"></h5>
                </div>
                <div class="col-3 default-question text-right">
                    <p class="m-0" th:text="'('+#{default}+')'"></p>
                </div>
                <div class="col-1 text-only noPDF">
                    <a class="collapse-btn noPDF" data-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-plus right collapse-icon"></i></a>
                </div>
            </div>
            <div class="col answere-column p-0 mt-4 mb-2"></div>
            <!--Answere Template-->
            <div class="answere-template">
                <p class="result-text mb-0 mt-2 text-left"></p>
                <div class="d-flex flex-row">
                    <div class="result-bar"></div>
                    <div class="result-percent ml-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="footer"></div>

</body>

<script th:inline="javascript">
    $(document).ready(function() {
        create_visuals();
        const bar_containers = document.getElementsByClassName("with-bars");
        bar_color(bar_containers);
    });
    const resources = document.getElementById("resource-container");
    var free_text_count = 0;
    var NoS = /*[[${numberOfSubmissions}]]*/ 100;
    var pdf_title = /*[[${pdf_title}]]*/ "survey.pdf";
    pdf_title = pdf_title.replace(/\s/g, "_")

    function bar_color(question_list) {
        for (let i = 0; i < question_list.length; ++i) {
            const bars = question_list[i].getElementsByClassName("result-bar");
            for (let j = 0; j < bars.length; ++j) {
                bars[j].classList.add("bar-"+(j*Math.round(10/bars.length)));
            }
        }
    }
    function bar_fix(bar_element, bar_value) {
        bar_element.style.width = Math.round(bar_value*80)+"%";
    }

    function create_visuals() {
        var response_list = /*[[${resultsJson}]]*/ "responses";
        response_list = JSON.parse(response_list);
        for (let i = 0; i < response_list.length; ++i) {
            var answers = [];
            var answer = response_list[i];
            var type = answer["type"];
            if (type == "text") {
                for (let j = 0; j < answer["answers"].length; ++j) {
                    answers.push(create_answere(type, answer["answers"][j], 0, 0));
                }
            }
            else {
                for (let j = 0; j < answer["options"].length; ++j) {
                    var rel_value = answer["answers"][j]/NoS;
                    answers.push(create_answere(type, answer["options"][j], rel_value, answer["answers"][j]));
                }
            }

            var question_template = create_question(type, answer["question"], answers, i);
            if (type != "text") {
                delete_multiple_elements(question_template.getElementsByClassName("text-only"));
            }
            if (!answer["default"]) {
                delete_element(question_template.getElementsByClassName("default-question")[0]);
            }

            //prevents breaking of the pdf (overflow of containers over page borders)
            document.getElementById("results").appendChild(question_template);
        }
    }
    function create_question(type, text, answers, number) {
        var question = resources.getElementsByClassName("result-container")[0].cloneNode(true);
        question.id = "question-"+number;
        delete_element(question.getElementsByClassName("answere-template")[0]);
        for (let i = 0; i < answers.length; ++i) {
            question.getElementsByClassName("answere-column")[0].appendChild(answers[i]);
        }
        if (type == "text") {
            question.getElementsByClassName("answere-column")[0].classList.add("collapse");
            question.getElementsByClassName("answere-column")[0].id = "free-text-collapse-"+free_text_count;
            question.getElementsByClassName("collapse-btn")[0].href = "#free-text-collapse-"+free_text_count;
            free_text_count += 1;
        }
        question.getElementsByClassName("question-type")[0].innerHTML = text;
        return question;
    }
    function create_answere(type, text, rel_value, abs_value) {
        if (type == "text") {
            var answere = resources.getElementsByClassName("result-text")[0].cloneNode(true);
            answere.innerHTML = text; answere.classList.add("result-free-text"); answere.classList.remove("result-text");
        }
        else {
            var answere = resources.getElementsByClassName("answere-template")[0].cloneNode(true);
            //Text that descripes the picked option by a participant
            answere.getElementsByClassName("result-text")[0].innerHTML = text;
            //Relative voting result
            var vote_text = answere.getElementsByClassName("result-percent")[0];
            vote_text.innerHTML = Math.round(rel_value*10000)/100+"%";
            //Absolute voting result
            var span = document.createElement("span"); span.innerHTML = " ("+abs_value+")"; span.classList.add("text-secondary");
            vote_text.appendChild(span);
            bar_fix(answere.getElementsByClassName("result-bar")[0], rel_value);
        }
        return answere;
    }

    function delete_element(element) {
        try {
            element.parentNode.removeChild(element);
        }
        catch(e) {
            console.log(e);
        }
    }
    function delete_multiple_elements(list_of_elements) {
        const x = list_of_elements.length;
        console.log(x+" elements will be deleted.");
        for (let d = 0; d < x; d++) {
            delete_element(list_of_elements[d]);
        }
    }

    function download_pdf() {
        var results = document.getElementById("pdf").cloneNode(true);
        var opt = {
            margin:       11,
            filename:     pdf_title,
            image:        { type: 'jpeg', quality: 0.98 },
            html2canvas:  { scale: 5 , windowWidth: 1920},
            jsPDF:        { unit: 'mm', format: 'letter', orientation: 'portrait' },
            pagebreak:    { avoid: '.result-container' }
        };

        //Only used if type=text:
        var collapsed = results.getElementsByClassName("collapse");
        for (let i = 0; i < collapsed.length; i++) {
            collapsed[i].classList.add("show");
        }

        //Hides borders
        var result_containers = results.getElementsByClassName("result-container");
        for (let i = 0; i < result_containers.length; i++) {
            result_containers[i].classList.remove("bordered");
        }

        //Deletes unneeded elements
        var trash = results.getElementsByClassName("noPDF");
        for (let i = 0; i < trash.length; i++) {
            delete_element(trash[i])
        }
        
        html2pdf().set(opt).from(results).save();
    }

</script>

</html>