<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title th:text="#{title.surveySelect}">TITLE</title>
</head>

<body>
<div th:include="navbar"></div>

<div class="main container">
    <div class="col-12 justify-content-center">

        <!--Headline-->
        <div class="col-12 text-center">
            <h2 th:if="!${typeExists}" class="font-weight-bold" th:text="${courseName}">COURSE BROWSER</h2>
            <h2 th:if="${typeExists}" class="font-weight-bold" th:text="|${courseName} (#{'editor.' + ${type}})|">COURSE BROWSER</h2>
            <h5 th:if="${mode == 'participant'}" class="font-weight-light" th:text="#{student.select.description_participant_typeless}">DESCRIPTION</h5>
            <h5 th:if="${mode == 'results'}" class="font-weight-light" th:text="#{student.select.description_results_typeless}">DESCRIPTION</h5>
        </div>

        <form th:action="@{/survey/select(id=${id}, type=${type}, mode=${mode})}" th:object="${form}" method="post">
            <div class="col-12 mt-4">
                <!--Step 1-->
                <div th:if="${mode == 'results'}" class="row justify-content-center text-center" th:with="type_list = ${ {'lecture', 'tutorial', 'seminar' ,'practical'} }">
                    <th:block th:each="courseType: ${type_list}" th:with="translation = ${#strings.toUpperCase(courseType)}" th:if="${__'course.'+${courseType}+'.surveyEditedFlag'__}">
                        <a th:id="${translation}" type="button" class="btn btn-tu m-2" th:text="#{'admin.select'+${translation}}" th:href="@{/survey/select(id=${id}, type=${translation}, mode=${mode})}"></a>
                    </th:block>
                </div>
                <!--Step 2-->
                <div class="text-center mt-4 mb-4">
                    <h5 th:if="${mode == 'participant'}" class="font-weight-light" th:text="#{student.select.description_participant}">DESCRIPTION</h5>
                    <h5 th:if="${mode == 'results'}" class="font-weight-light" th:text="#{student.select.description_results}">DESCRIPTION</h5>
                </div>
                <div th:if="${typeExists}" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
                    <h5 class="text-center" th:text="#{instance}">INSTANCE</h5>
                    <input id="hiddenType" th:value="${type}" type="hidden">
                    <select id="instance" class="custom-select form-control" th:field="*{instance}">
                        <option th:if="${mode == 'results'}" class="dropdown-item" value="all" th:text="#{all}">ALL</option>
                        <option class="dropdown-item" th:each="title, stats : ${instanceTitles}" th:text="${title}" th:value="${stats.index+1}">INSTANCE</option>
                    </select>
                    <th:block th:switch="${type == 'LECTURE'}">
                        <div th:case="false">
                            <h5 class="text-center mt-3" th:text="#{group}">GROUP</h5>
                            <select id="group" class="custom-select form-control" th:field="*{group}">
                                <option th:if="${mode == 'results'}" class="dropdown-item" value="all" th:text="#{all}">ALL</option>
                                <option class="dropdown-item" th:each="n : ${#numbers.sequence(1, groupAmount)}" th:text="|#{group} ${n}|" th:value="${n}">GROUP</option>
                            </select>
                        </div>
                        <input th:case="true" id="group" name="group" value="1" type="hidden">
                    <th:block>
                </div>
            </div>

            <div th:if="${typeExists}" class="col-12 offset-lg-4 col-lg-4 text-center mt-4">
                <button type="submit" class="btn btn-primary btn-tu" th:text="#{submit}">SUBMIT</button>
            </div>
        </form>

    </div>
    <p th:if="${mode == 'participant'}" class="mt-4 text-center" th:text="|(#{student.select.anonymous})|"></p>
</div>

<div th:replace="footer"></div>
</body>
<script>
$(document).ready(function () {
    const type = document.getElementById("hiddenType").value.toUpperCase();
    document.getElementById(type).classList.add("btn-tu-highlighted");
});
</script>
</html>