<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    
    <title th:text="#{home.title}">TITLE</title>
</head>

<body>
<div th:include="navbar"></div>

<div class="container">
    <div class="col-12 justify-content-center">

        <!--Headline-->
        <div class="col-12 text-center mt-4">
            <h2 class="font-weight-bold" th:text="|#{student.select.header} ${courseName}|">COURSE BROWSER</h2>
            <h5 class="font-weight-light" th:text="#{student.select.description}">DESCRIPTION</h5>
        </div>

        <div class="col-12 offset-lg-4 col-lg-4 text-left mt-4">
            <h5 th:text="#{student.select.instance}">INSTANCE</h5>
            <select id="instance" class="custom-select form-control">
                <option class="dropdown-item" th:each="title : ${instanceTitles}" th:text="${title}" th:value="${title}">INSTANCE</option>
            </select>
            <div th:if="!${courseType == 'LECTURE'}">
                <h5 class="mt-3" th:text="#{student.select.group}">GROUP</h5>
                <select id="group" class="custom-select form-control" th:field="*{groupAmount}">
                    <option class="dropdown-item" th:each="n : ${groupAmount}" th:text="|#{group} ${n}|" th:value="${n}">GROUP</option>
                </select>
            </div>
        </div>

        <div class="col-12 offset-lg-4 col-lg-4 text-center mt-4">
            <a class="btn btn-primary btn-tu" th:text="#{submit}" th:onclick="build_url()">SUBMIT</a>
        </div>

    </div>
</div>

<div th:include="footer" class="mt-4"></div>
</body>
<script th:inline="javascript">
function build_url() {
    var url = /*[[@{/survey(id=${id}, type=${courseType})}]]*/"";
    url = url+"&instance="+getValue(document.getElementById("instance"));
    if([[${courseType == "LECTURE"}]]) {
        url = url+"&group=1";
    }
    else {
        url = url+"&group="+getValue(document.getElementById("group"));
    }
    window.location = url;
}
function getValue(e){
    var result = e.options[e.selectedIndex].value;
    return result
}
</script>
</html>