<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/survey.css}" />
	<title th:text="#{title.preview}">TITLE</title>
</head>
<body class="bg-light">
<div th:replace="navbar"></div>

<div class="main justify-content-center mb-4">
	<div class="col-lg-12">
		
		<!--Headline-->
        <div class="mb-4 mt-4">
			<h2 class="font-weight-bold text-center title"><span th:text="${coursename} +' : '"></span><span th:text="#{'editor.' + ${typeID}}"></span></h2>
			<h5 class="font-weight-light text-center" th:text="#{editor.description}">PREVIEW YOUR SURVEY. GREY QUESTIONS ARE DEFAULT QUESTIONS.</h5>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<!-- Survey-->
			<div class="col-md-6">
				<div id="survey"></div>
				<div class="Edit Buttons mt-3 mb-6">
				<div class="row mt-2 text-center justify-content-center	mr-auto ml-2">
					<a th:href="@{/course/surveyeditor?type={type}&id={id}(type=${typeID}, id=${id})}" class="btn btn-primary btn-tu"><i class="far fa-edit mr-2"></i><span th:text="#{question.surveyeditor}"></span></a>
				</div>
				<div class="row mt-2 text-center justify-content-center ml-auto mr-2">
					<a th:href="@{/course/details?id={id}(id=${id})}" class="btn btn-primary btn-tu"><i class="far fa-save mr-2"></i><span th:text="#{question.save}"></span></a>
				</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>

<div th:replace="footer"></div>
<script th:inline="javascript">

	const survey = [(${survey})];
	const defaultsurvey = [(${defaultSurvey})];


	//onload buildt the survey clientside
	window.onload = function () {
		for ( let i=0; i < survey.length; i++){
			defaultsurvey.push(survey[i]);

		}
		defaultsurvey.forEach(renderquestion);
		console.log(defaultsurvey);

	}

	function renderquestion (value,index,array){

		const x = document.createElement("DIV");

		//DIV for Number and Question
		const row1 = document.createElement("DIV");
		row1.className = "row";

		//Number on the top left
		const index_number = document.createElement("h3");
		index_number.className = "text-light text-center index-number"
		index_number.innerHTML = index+1;
		const left = document.createElement("DIV");
		left.className = "col-md-12 pl-0";

		left.appendChild(index_number);


		//Part for the question
		const question = document.createElement("h4");
		question.className = "Question";
		question.innerText = value.question;

		left.appendChild(question);
		row1.appendChild(left);
		x.appendChild(row1);

		if (value.type == "YesNo"){
			x.className ="container bg-white border border-secondary rounded mt-4 YesNo";
			x.setAttribute("id",index);

			const selectionOption = document.createElement("DIV");
			selectionOption.className = "Options YesNo";


			//Yes Answer
			// Deutsch English bei YesNo?
			const fullOptionYes = document.createElement("DIV");
			fullOptionYes.className = "Option 1";
			const tickboxYes = document.createElement("INPUT");
			tickboxYes.className ="tickbox";
			tickboxYes.setAttribute("type","radio");
			tickboxYes.setAttribute("value", "Yes");
			tickboxYes.setAttribute("id", "Yes");
			tickboxYes.setAttribute("name",index);
			const descriptionYes = document.createElement("LABEL");
			descriptionYes.innerText = "Yes";
			descriptionYes.setAttribute("for","Yes");

			fullOptionYes.appendChild(tickboxYes);
			fullOptionYes.appendChild(descriptionYes);
			selectionOption.appendChild(fullOptionYes);

			const fullOptionNo = document.createElement("DIV");
			fullOptionNo.className = "Option 2";
			const tickboxNo = document.createElement("INPUT");
			tickboxNo.className ="tickbox";
			tickboxNo.setAttribute("type","radio");
			tickboxNo.setAttribute("value", "No");
			tickboxNo.setAttribute("id", "No");
			tickboxNo.setAttribute("name",index);
			const descriptionNo = document.createElement("LABEL");
			descriptionNo.innerText = "No";
			descriptionNo.setAttribute("for","No");

			fullOptionNo.appendChild(tickboxNo);
			fullOptionNo.appendChild(descriptionNo);
			selectionOption.appendChild(fullOptionNo);



			x.appendChild(selectionOption);


		}

		else if (value.type ==="FreeText") {

			x.className = "container bg-white border border-secondary rounded mt-4 FreeText";
			x.setAttribute("id", index);

			const div = document.createElement("DIV");
			div.className ="Options FreeText";

			const text_area = document.createElement("TEXTAREA");
			text_area.className = "Textarea FreeText";
			text_area.setAttribute("id",index);
			text_area.placeholder = "Antwort";

			div.appendChild(text_area);				

			x.appendChild(div);




		}
		else if (value.type === "OnetoFive") {

			x.className = "container bg-white border border-secondary rounded mt-4 SingleChoice";
			x.setAttribute("id", index);

			const selectionOption = document.createElement("DIV");
			selectionOption.className = "Options OnetoFive";

			const descriptionleft = document.createElement("DIV");
			descriptionleft.className = "Option Label";
			const description =document.createElement("Label");
			description.className = "mb-0"
			description.innerText = "Nicht zutreffend";

			descriptionleft.appendChild(description);
			selectionOption.appendChild(descriptionleft);

			for (let i = 1; i< 6;i++){

				const fullOption = document.createElement("DIV");
				fullOption.className = "Option OnetoFive "+i;
				const tickbox = document.createElement("INPUT");
				tickbox.className ="tickbox OnetoFive";
				tickbox.setAttribute("type","radio");
				tickbox.setAttribute("value", i);
				tickbox.setAttribute("id",i);
				tickbox.setAttribute("name",index);
				const description = document.createElement("LABEL");
				description.className ="Label OnetoFive";
				description.innerText = i;
				description.setAttribute("for",i);


				fullOption.appendChild(tickbox);
				fullOption.appendChild(description);
				selectionOption.appendChild(fullOption);

			}

			const descriptionright = document.createElement("DIV");
			descriptionright.className = "Option Label";
			const descriptionr =document.createElement("Label");
			descriptionr.className = "mb-0"
			descriptionr.innerText = "Zutreffend";

			descriptionright.appendChild(descriptionr);
			selectionOption.appendChild(descriptionright);


			x.appendChild(selectionOption);





		}

		else if (value.type === "SingleChoice") {

				x.className = "container bg-white border border-secondary rounded mt-4 SingleChoice";
				x.setAttribute("id", index);

				const selectionOption = document.createElement("DIV");
				selectionOption.className = "Options SingleChoice";


				for (let i = 0; i< value.answers.length;i++){

					const fullOption = document.createElement("DIV");
					fullOption.className = "Option "+i;
					const tickbox = document.createElement("INPUT");
					tickbox.className ="tickbox";
					tickbox.setAttribute("type","radio");
					tickbox.setAttribute("value", value.answers[i]);
					tickbox.setAttribute("id",value.answers[i]);
					tickbox.setAttribute("name",index);
					const description = document.createElement("LABEL");
					description.innerText = value.answers[i];
					description.setAttribute("for",value.answers[i]);


					fullOption.appendChild(tickbox);
					fullOption.appendChild(description);
					selectionOption.appendChild(fullOption);

				}

				x.appendChild(selectionOption);





		}
		else if (value.type === "MultipleChoice") {

			//Create a html section for a MultipleChoice-Question
			x.className = "container bg-white border border-secondary rounded mt-4 MultipleChoice";
			x.setAttribute("id", index);

			const selectionOption = document.createElement("DIV");
			selectionOption.className = "Options MultipleChoice";


			for (let i = 0; i< value.answers.length;i++){

				const fullOption = document.createElement("DIV");
				fullOption.className = "Option "+i;
				const tickbox = document.createElement("INPUT");
				tickbox.className ="tickbox";
				tickbox.setAttribute("type","checkbox");
				tickbox.setAttribute("value", value.answers[i]);
				tickbox.setAttribute("id",value.answers[i]);
				tickbox.setAttribute("name",index);
				const description = document.createElement("LABEL");
				description.innerText = value.answers[i];
				description.setAttribute("for",value.answers[i]);


				fullOption.appendChild(tickbox);
				fullOption.appendChild(description);
				selectionOption.appendChild(fullOption);

			}


			const footer = document.createElement("DIV");
			const hint = document.createElement("h6");
			hint.className = "Hint Multiplechoice text-center";
			hint.innerHTML = [[#{question.hint}]];

			footer.appendChild(hint);
			x.appendChild(selectionOption);
			x.appendChild(footer);



		}

		document.getElementById("survey").appendChild(x);


	}





</script>
</body>
</html>
