<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />	
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/survey.css}" />
	<title th:text="#{home.title}">TITLE</title>
	<!--<script
		src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
		crossorigin="anonymous">
	</script>-->
		
</head>
<body class="bg-light">
<div th:include="navbar"></div>

<!--Für welchen Typ die Umfrage ist würde ich vielleicht kicken, weil ich das ja weiß, wenn ich drinnen sitzte-->
<div class="row">
	<div class="col-lg-12 mt-4">
		<h2 class="font-weight-bold text-center title"><span th:text="${coursename} +' : '"></span><span th:text="#{'editor.' + ${typeID}}"></span></h2>
		<div class="row">
			<div class="col-md-3"></div>
			<!-- Survey-->
			<div class="col-md-6" id="survey"></div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>


<div class="pt-4" th:include="footer"></div>

<script>
	const survey = [(${survey})];
	console.log(survey);

	//onload buildt the survey clientside
	window.onload = function () {
		survey.forEach(renderquestion);

	}

	function renderquestion (value,index,array){

		const x = document.createElement("DIV");

		//Part for the question
		const row_question = document.createElement("DIV");
		const question = document.createElement("P");
		question.className = "Question";
		question.innerText = value.question;

		row_question.appendChild(question);
		x.appendChild(row_question);

		if (value.type == "YesNo"){
			x.className ="container bg-white border border-secondary rounded mt-4 YesNo";
			x.setAttribute("id",index);

		}
		else if (value.type ==="FreeText") {

			x.className = "container bg-white border border-secondary rounded mt-4 FreeText";
			x.setAttribute("id", index);
		}

		else if (value.type === "SingleChoice") {

				x.className = "container bg-white border border-secondary rounded mt-4 SingleChoice";
				x.setAttribute("id", index);

				const selectionOption = document.createElement("DIV");
				selectionOption.className = "Options SingleChoice";


				for (let i = 0; i< value.answers.length;i++){


					const tickbox = document.createElement("INPUT");
					tickbox.setAttribute("type","radio");
					tickbox.setAttribute("value", value.answers[i]);
					tickbox.setAttribute("id",value.answers[i]);
					tickbox.setAttribute("name",index);
					const description = document.createElement("LABEL");
					description.innerText = value.answers[i];
					description.setAttribute("for",value.answers[i]);


					selectionOption.appendChild(tickbox);
					selectionOption.appendChild(description);

				}





				x.appendChild(selectionOption);





		}
		else if (value.type === "MultipleChoice") {

			//Create a html section for a MultipleChoice-Question
			x.className = "container bg-white border border-secondary rounded mt-4 MultipleChoice";
			x.setAttribute("id", index);
		}

		document.getElementById("survey").appendChild(x);


	}



</script>
</body>
</html>
