<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />	
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />		
    <title th:text="#{home.title}">TITLE</title>
</head>
<body class="bg-light"></body>

    <div th:include="navbar"></div>

    <div class="container">
        <div class="row justify-content-center">

            <!--Headline-->
            <div class="col-12 text-center mt-4">
                <h2 class="font-weight-bold">SURVEY RESULTS</h2>
                <h5 class="font-weight-light">YOU CAN CHECK OUT THE RESULTS OF A SURVEY HERE!</h5>
            </div>

            <div class="col-12">

                <div class="container result-container mt-3">
                    <h5 class="mt-2">SINGLE CHOICE:</h5>
                    <div class="col pl-0 mt-2 mb-2">
                        <p class="font-weight-light mb-0 mt-2 result-text">ANSWERE A: CATS > DOGS</p>
                        <div class="d-flex flex-row">
                            <div class="result-bar" style="width: 500px; background-color: black;"></div>
                            <div class="ml-2">50%</div>
                        </div>
                        <p class="font-weight-light mb-0 mt-2 result-text">ANSWERE B: CATS < DOGS</p>
                        <div class="d-flex flex-row">
                            <div class="result-bar" style="width: 300px; background-color: grey;"></div>
                            <div class="ml-2">30%</div>
                        </div>
                        <p class="font-weight-light mb-0 mt-2 result-text">ANSWERE C: BOTH ARE ONLY GOOD FOR SOUP...</p>
                        <div class="d-flex flex-row">
                            <div class="result-bar" style="width: 200px; background-color: darkgrey;"></div>
                            <div class="ml-2">20%</div>
                        </div>
                    </div>
                </div>

                <div class="container result-container mt-3">
                    <h5 class="mt-2">FREE TEXT:</h5>
                    <p class="font-weight-light mt-2 result-text">What is your favourite Professor?</p>
                    <p class="font-weight-light result-free-text">Professor Xaviar</p>
                    <p class="font-weight-light result-free-text">Professor Eich</p>
                    <p class="font-weight-light result-free-text">Professor Proton</p>
                    <p class="font-weight-light result-free-text">The Professor</p>
                </div>

            </div>

        </div>
    </div>

    <div th:include="footer"></div>

</body>
<script>

</script>
</html>